<form [formGroup]="frmMissingMaterial">
    <div>
        <div role="tabpanel" class="tab-pane fade in active" id="orders">
            <div data-loading></div>
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MediaAsset">Media asset </label>
                        <div class="clearfix"></div>
                        <ng-select formControlName="MediaAsset" [(ngModel)]="missingMaterial.mediaAssetId" placeholder="Select media asset" [items]="mediaAssets"
                            bindLabel="MediaAssetName" bindValue="MediaAssetId" (change)="onChangeMediaAsset()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IssueDate">Issue date </label>
                        <div class="clearfix"></div>

                        <ng-select formControlName="IssueDate" [(ngModel)]="missingMaterial.issueDateId" placeholder="Select issue date" [items]="issueDates"
                            bindLabel="CoverDate" bindValue="IssueDateId" (change)="onChangeIssueDate()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <div class="form-group">
                        <button type="button" (click)="displayOrderDatatableJquery()" style="margin-top:25px" class="blueBtn createBtn">GO</button>
                    </div>
                </div>
            </div>

            <!--Order data-->
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive custom-table">
                        <table datatable [dtOptions]="missingMaterialDatatable" [dtTrigger]="missingMaterialDatatableTrigger" class="table post-orders-table display"
                            id="missingMaterialsTable" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>Advertiser</th>
                                    <th class="text-right">Bill to ID</th>
                                    <th class="text-right">Ship to ID</th>
                                    <th class="text-right">Gross cost</th>
                                    <th class="text-right">Net cost</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>