<div>
    <div role="tabpanel" class="tab-pane fade in active" id="orders">
        <!-- <div data-loading></div> -->
        <form [formGroup]="frmPostOrderCustomSearch">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="MediaAsset">Media asset </label>
                        <div class="clearfix"></div>
                        <ng-select id="ddlMediaAsset" formControlName="MediaAsset" [(ngModel)]="postOrder.MediaAssetId" placeholder="Select media asset"
                            [items]="mediaAssets" bindLabel="MediaAssetName" bindValue="MediaAssetId" (change)="onChangeMediaAsset()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="IssueDate">Issue date </label>
                        <div class="clearfix"></div>
                        <ng-select id="ddlIssueDate" formControlName="IssueDate" [(ngModel)]="postOrder.IssueDateId" placeholder="Select issue date"
                            [items]="issueDates" bindLabel="CoverDate" bindValue="IssueDateId" (change)="onChangeIssueDate()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="AdType">Ad type </label>
                        <div class="clearfix"></div>
                        <ng-select id="ddlAdType" formControlName="AdType" [(ngModel)]="postOrder.AdTypeId" placeholder="Select ad type" [items]="adTypes"
                            bindLabel="AdTypeName" bindValue="AdTypeId" (change)="onChangeAdType()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label for="InvoiceDate">Advertiser </label>
                        <div class="clearfix"></div>
                        <ng-select id="ddlAdvertiser" formControlName="POadvertiser" [(ngModel)]="postOrder.AdvertiserId" placeholder="Select advertiser"
                            [items]="POadvertisers" bindLabel="OrganizationName" bindValue="Id" (change)="onChangeAdvertiser()">
                        </ng-select>
                    </div>
                </div>
                <div class="col-md-12 text-right">
                    <div class="form-group">
                        <button type="button" (click)="searchOrdersbyCustomFilter(postOrder)" class="blueBtn createBtn">GO</button>
                    </div>
                </div>
            </div>
        </form>
        <!--Order data-->
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive custom-table">
                    <table id="tblPostOrderData" class="table post-orders-table display" datatable [dtOptions]="postOrderTable" [dtTrigger]="postOrderTableDatatableTrigger"
                        cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" class="checkall" [(ngModel)]="selectedAllPostOrders" (click)="toggleAll()" />
                                </th>
                                <th>Advertiser</th>
                                <th class="text-right">Bill to ID</th>
                                <th class="text-right">Ship to ID</th>
                                <th class="text-right">Gross cost</th>
                                <th class="text-right">Net cost</th>
                                <th class="text-right">Media asset</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <br>

        <div class="row">
            <div class="col-md-9">
                <div class="form-group ">

                    <label for="">Invoice date</label>
                    <div class="clearfix"></div>
                    <label class="radio-inline" style="padding-left: 27px; float: left;">
                        <input type="radio" name="inlineRadioOptions" id="billto1" value="option1" (click)="setInvoiceDateShowOrHide('issueDate');"> Issue date
                    </label>
                    <label class="radio-inline" style="padding-left: 27px; float: left;">
                        <input type="radio" name="inlineRadioOptions" id="billto2" value="option2" checked (click)="setInvoiceDateShowOrHide('currentDate');"> Today
                    </label>
                    <label class="radio-inline" style="padding-left: 27px; float: left;">
                        <input type="radio" name="inlineRadioOptions" id="billto3" value="option3" (click)="setInvoiceDateShowOrHide('customDate');"> Other
                    </label>

                    <div class="col-md-4 " *ngIf="isShowInvoiceDate == true">
                        <div class="form-group">
                            <div class="input-group date">

                                <input type="text" [(ngModel)]="PostOrder.InvoiceDate" [bsConfig]="{containerClass: 'theme-default' }" class="form-control"
                                    placeholder="Select invoice date" bsDatepicker>
                                <div class="input-group-addon">
                                    <img id="calendarIconBw" src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-3 text-right">
                <div class="form-group">
                    <button type="button" class="blueBtn createBtn" data-toggle="modal" data-target="#PostOrdersDetailModal" (click)="showOrdersToPostInASI();">Post Orders
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>




<!-- Order To Post ASI System-->
<form name="PostOrdersDetailModalForm">
    <div class="modal fade bs-example-modal-lg mampopup" id="PostOrdersDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="row">
                                <button type="button" id="btnWord" style="padding:0px;border: none;" (click)="exportDataWord()">
                                    <img title="Export to word" src="{{websiteRoot}}/{{imgurl}}/word-icon.png" />
                                </button>&nbsp;
                                <button type="button" id="btnExcel" style="padding:0px;border: none;" (click)="exportDataExcel()">
                                    <img title="Export to excel" src="{{websiteRoot}}/{{imgurl}}/excel-icon.png" />
                                </button>&nbsp;
                                <button type="button" id="btnPDF" style="padding:0px;border: none;" (click)="pdf.saveAs('IO.pdf')">
                                    <img title="Export to pdf" src="{{websiteRoot}}/{{imgurl}}/pdf-icon.png" />
                                </button>&nbsp;
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <button type="button" class="close" data-dismiss="modal">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                        </div>
                    </div>

                    <div id="exportable">
                        <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [scale]="0.8" height="500">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4" style="text-align:center">
                                    <h3>
                                        <b>Order to post</b>
                                    </h3>
                                </div>
                                <div class="col-sm-12" style="text-align:left;">
                                    <h3 *ngIf="isStatusHTMLActive == true" [ngClass]="{'displayNone': isStatusActive}" style="color:#0096c7;">
                                        <span>{{successRecords}}/{{totalRecords}} Combo order posted successfully</span>
                                    </h3>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-12">
                                    <table width="100%">
                                        <thead>
                                            <tr style="border:1px solid black">
                                                <th width="22%" style="border:1px solid black">Advertiser</th>
                                                <th width="10%" style="border:1px solid black">Bill to ID</th>
                                                <th width="10%" style="border:1px solid black">Ship to ID</th>
                                                <th width="12%" style="border:1px solid black">Gross cost</th>
                                                <th width="12%" style="border:1px solid black">Net cost</th>
                                                <th width="24%" style="border:1px solid black">Description</th>
                                                <th *ngIf="isStatusHTMLActive == true" [ngClass]="{'displayNone': isStatusActive}" width="10%" style="border:1px solid black">Status</th>
                                            </tr>
                                        </thead>
                                        <tbody *ngIf="isShowDefaultTable == false">
                                            <tr *ngFor="let POrder of orderToPost" style="border:1px solid black">
                                                <td style="border:1px solid black">{{POrder.AdvertiserName}}</td>
                                                <td style="border:1px solid black">{{POrder.BT_ID}}</td>
                                                <td style="border:1px solid black">{{POrder.ST_ID}}</td>
                                                <td style="border:1px solid black">${{POrder.GrossCost | number:'1.2-2'}}</td>
                                                <td style="border:1px solid black">${{POrder.NetCost | number:'1.2-2'}}</td>
                                                <td style="border:1px solid black">
                                                    {{POrder.AdTypeName }} | {{POrder.AdcolorName }} | {{POrder.AdSizeName }} | {{POrder.FrequencyName}}
                                                </td>
                                                <td *ngIf="isStatusHTMLActive == true" [ngClass]="{'displayNone': isStatusActive}" [ngStyle]="{'color': POrder.color}" style="border:1px solid black;font-weight:bold; font-size:15px;">{{POrder.Status}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <br />

                            <div class="row">
                                <div class="col-sm-12 text-right">
                                    <div class="form-group">
                                        <button type="button" class="blueBtn createBtn" (click)="savePostOrdersToASISystem();">Post Orders
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </kendo-pdf-export>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>