<div>
    <form name="mediaScheduleForm" [formGroup]="mediaScheduleForm" (ngSubmit)="saveMediaSchedule(mediaSchedule,false)">
        <div class="cost-details">
            <div class="buy-id pull-left">Buy ID
                <span>{{adOrderId}}</span>
            </div>
            <div class="cost pull-right">
                <div class="gross-cost pull-left">Gross cost $
                    <span>{{orderGrossCost}}</span>
                </div>
                <div class="net-cost pull-left">Net cost $
                    <span>{{orderNetCost}}</span>
                </div>
            </div>
        </div>
        <div class="main-tab-content">
            <div class="tabContent">
                <div class="tabContentArea">
                    <div data-loading> </div>
                    <div class="row">
                        <div class="col-md-6 border-r">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="MediaAsset">Media asset
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>

                                        <ng-select id="ddlMediaAsset" formControlName="Media" placeholder="Select media asset" [items]="mediaAssets" bindLabel="MediaAssetName"
                                            bindValue="MediaAssetId" (change)="changeMediaAsset()">
                                        </ng-select>

                                        <div *ngIf="isValidMedia"
                                            class="text-danger">
                                            <span *ngIf="mediaScheduleForm.controls['Media'].hasError('required') ">
                                                Media asset is required.
                                            </span>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="RateCard">Rate card
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>

                                        <ng-select id="ddlRateCard" formControlName="RateCard" placeholder="Select rate card" [items]="rateCards" bindLabel="rateCardDetail"
                                            bindValue="RateCardId" (change)="changeRateCard()">
                                        </ng-select>

                                        <div *ngIf="isValidRateCard"
                                            class="text-danger">
                                            <span *ngIf="mediaScheduleForm.controls['RateCard'].hasError('required') ">
                                                Rate card is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngIf="dvAdSize">
                                    <div class="form-group" ng-class="{error:mediaScheduleForm.AdSize.$invalid}">
                                        <label for="AdSize">{{lblAdSize}}
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>

                                        <ng-select id="ddlAdSize" formControlName="AdSize" placeholder="{{lblAdSize}}" [items]="adSizes" bindLabel="Name" bindValue="AdSizeId"
                                            (change)="changeAdSize()">
                                        </ng-select>

                                        <div *ngIf="isValidAdSize"
                                            class="text-danger">
                                            <span *ngIf="mediaScheduleForm.controls['AdSize'].hasError('required') ">
                                                {{lblAdSize}} is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvBoothLocation">
                                    <div class="form-group">
                                        <label for="BoothLocation">Booth location</label>
                                        <div class="clearfix"></div>
                                        <input type="text"  formControlName="BoothLocation"
                                            name="BoothLocation" class="form-control" id="txtBoothLocation" [(ngModel)]="mediaSchedule.BoothLocation"
                                            placeholder="Enter booth location">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvAdColor">
                                    <div class="form-group">
                                        <label for="AdColor">Ad color
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>

                                        <ng-select id="ddlAdColor" formControlName="AdColor" placeholder="Select ad color" [items]="adColors" bindLabel="Name"
                                            bindValue="AdColorId" (change)="changeAdColor()">
                                        </ng-select>

                                        <div *ngIf="isValidAdColor"
                                            class="text-danger">
                                            <span *ngIf="mediaScheduleForm.controls['AdColor'].hasError('required') ">
                                                Ad color is required.
                                            </span>
                                        </div>

                                    </div>
                                </div>


                                <div class="col-md-4" *ngIf="dvFrequency">
                                    <div class="form-group" ng-class="{error:mediaScheduleForm.frequency.$invalid}">
                                        <label for="frequency">Frequency
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>

                                        <ng-select id="ddlfrequency" formControlName="Frequency" placeholder="Select frequency" [items]="frequencies" bindLabel="Name"
                                            bindValue="FrequencyId" (change)="changeFrequency()">
                                        </ng-select>

                                        <div *ngIf="isValidFrequency"
                                            class="text-danger">
                                            <span *ngIf="mediaScheduleForm.controls['Frequency'].hasError('required') ">
                                                Frequency is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4" *ngIf="dvNoOfInsert">
                                    <div class="form-group">
                                        <label for="NoOfInsert">No of inserts</label>
                                        <div class="clearfix"></div>
                                        <input type="text" allow-decimal-numbers (change)="changeNoOfInserts()" (input)="changeNoOfInserts()" formControlName="NoOfInsert"
                                            name="NoOfInsert" class="form-control" id="txtNoOfInserts" [(ngModel)]="mediaSchedule.NoOfInserts"
                                            placeholder="Enter no of insert">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvImpression">
                                    <div class="form-group">
                                        <label for="Impression">Impression</label>
                                        <div class="clearfix"></div>
                                        <input type="text" allow-decimal-numbers formControlName="Impression" name="Impression" class="form-control" id="txtImpression"
                                            [(ngModel)]="mediaSchedule.Impression" placeholder="Enter impression">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvColumn">
                                    <div class="form-group">
                                        <label for="Column">Column</label>
                                        <div class="clearfix"></div>
                                        <input type="text" allow-decimal-numbers (change)="changeColInch()" (input)="changeColInch()" formControlName="Column" name="Column"
                                            class="form-control" id="txtColumn" [(ngModel)]="mediaSchedule.Column" placeholder="Enter column">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvInches">
                                    <div class="form-group">
                                        <label for="Inches">Inches</label>
                                        <div class="clearfix"></div>
                                        <input type="text" allow-decimal-numbers-dot (change)="changeColInch()" (input)="changeColInch()" formControlName="Inches"
                                            name="Inches" class="form-control" id="txtInches" [(ngModel)]="mediaSchedule.Inches"
                                            placeholder="Enter inches">
                                    </div>
                                </div>
                                <div class="col-md-4" *ngIf="dvAdSizeTextbox">
                                    <div class="form-group">
                                        <label for="AdSizeTextbox">Ad size</label>
                                        <div class="clearfix"></div>
                                        <input type="text" formControlName="AdSizeTextbox" name="AdSizeTextbox" class="form-control" id="txtAdSizeTextbox" [(ngModel)]="mediaSchedule.AdSize"
                                            placeholder="Enter ad size" disabled>
                                    </div>
                                </div>
                                <div class="col-md-12" *ngIf="dvClassifiedText">
                                    <div class="form-group">
                                        <label for="ClassifiedText">Classified text
                                            <span class="mendatory">*</span>
                                        </label>
                                        <label for="ClassifiedTextNote" class="pull-right">Total words {{totalWords}}</label>
                                        <div class="clearfix"></div>

                                        <textarea type="text" formControlName="ClassifiedText" name="ClassifiedText" rows="4" style="resize:none" class="form-control"
                                            id="txtClassifiedText" [(ngModel)]="mediaSchedule.ClassifiedText" (change)="changeClassifiedText()"
                                            (input)="changeClassifiedText()" placeholder="Enter classified text" [attr.required]="isRequiredClassifiedText()">
                                        </textarea>

                                        <label for="ClassifiedTextNote">{{classifiedTextNote}}</label>
                                        <div class="text-danger">
                                            <span *ngIf="ClassifiedText">
                                                Classified text is required.
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="RateCardCost">Rate card cost
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>
                                        <div class="input-group textbox-width left-group">
                                            <div class="input-group-addon ">$</div>
                                            <input allow-decimal-numbers type="text" formControlName="RateCardCost" name="RateCardCost" (change)="changeRateCardCost()"
                                                (input)="changeRateCardCost()" class="form-control" id="txtRateCardCost" [(ngModel)]="mediaSchedule.RateCardCost"
                                                placeholder="Rate card cost">
                                        </div>
                                    </div>
                                    <div *ngIf="isValidRateCardCost"
                                        class="text-danger">
                                        <span *ngIf="mediaScheduleForm.controls['RateCardCost'].hasError('required') ">
                                            Rate card cost is required.
                                        </span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="AdCost">Ad cost </label>
                                        <div class="clearfix"></div>
                                        <div class="input-group disabled textbox-width left-group">
                                            <div class="input-group-addon">$</div>
                                            <input allow-decimal-numbers type="text" formControlName="AdCost" name="AdCost" class="form-control" id="txtAdCost" placeholder="Ad cost"
                                                [(ngModel)]="mediaSchedule.AdCost" disabled>
                                        </div>
                                    </div>

                                </div>
                                <div>
                                    <input type="hidden" formControlName="Cost" name="Cost" id="txtCost" [(ngModel)]="mediaSchedule.BaseCost" hidden>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="form-group text-center">
                                        <button type="submit" class="blueBtn createBtn" id="btnOrders">Add to Buy</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="">Issue date
                                            <span class="mendatory">*</span>
                                        </label>
                                        <div class="clearfix"></div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="input-group date">
                                                    <input type="text" id="txtFromDate" class="form-control" [minDate]="minDate" [maxDate]="maxDate" (ngModelChange)="onChangeFromDate($event)"
                                                        formControlName="FromDate" placeholder="Select date" [attr.disabled]="dvIssueDate ? '' : null"
                                                        [(ngModel)]="mediaSchedule.FromDate" bsDatepicker [bsConfig]="{containerClass: 'theme-default' }">
                                                    <div class="input-group-addon">
                                                        <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                                    </div>
                                                    <div *ngIf="isValidFromDate"
                                                        class="text-danger">
                                                        <span *ngIf="mediaScheduleForm.controls['FromDate'].hasError('required') ">
                                                            From date is required.
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input-group date">

                                                    <input type="text" id="txtToDate" class="form-control" [minDate]="minDate" [maxDate]="maxDate" (ngModelChange)="onChangeToDate($event)"
                                                        formControlName="ToDate" placeholder="Select date" [attr.disabled]="dvIssueDate ? '' : null"
                                                        [(ngModel)]="mediaSchedule.ToDate" bsDatepicker [bsConfig]="{containerClass: 'theme-default' }">
                                                    <div class="input-group-addon">
                                                        <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                                                    </div>
                                                    <div *ngIf="isValidToDate"
                                                        class="text-danger">
                                                        <span *ngIf="mediaScheduleForm.controls['ToDate'].hasError('required') ">
                                                            To date is required.
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="clearfix"></div>
                                <div class="col-md-12">
                                    <div class="issuedates-range">
                                        <div class="row" id="dvGroup1">
                                            <div class="col-md-6" *ngFor="let item of checkBoxArr">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" value="{{item.IssueDateId}}" (change)="onDateCheckboxChange($event)" class="checkthis" id="chk_{{item.IssueDateId}}"
                                                        [attr.disabled]="item.selectedIssueDate ? '' : null"> {{item.fullDate}}
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group pull-left">
                                <button type="button" class="createBtn orangeBtn" id="btnOrders" (click)="goToPreviousTab()">Previous</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group pull-right">
                                <button type="button" class="blueBtn createBtn" (click)="finishNExit(mediaSchedule,true);">Finish & Exit</button>&nbsp;
                                <button type="button" class="createBtn orangeBtn" (click)="redirectToMediaOrderAdjustmentTab()">
                                    Next
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>