<div>

  <form>
    <div class="cost-details">
      <div class="buy-id pull-left">Buy ID 
        <span>{{adjustment.adOrderId}}</span>
      </div>
      <div class="cost pull-right">
        <div class="gross-cost pull-left">Gross cost  $
          <span>{{grossCost}}</span>
        </div>
        <div class="net-cost pull-left">Net cost  $
          <span>{{netCost}}</span>
        </div>
      </div>
    </div>
    <div class="main-tab-content">
      <div class="tabContent">
        <div class="tabContentArea">
          <div data-loading> </div>
          <div class="row">
            <div class="col-md-12">
              <div class="table-responsive custom-table production-detail-table">
                <table class="table adjustment-table" id="adjustmentTable">
                  <thead>
                    <tr>
                      <th>
                          <input type="checkbox" [ngClass]="{'no-click': isFrozen}" class="checkall" [(ngModel)]="selectedAllIssueMediaOrders" (click)="toggleAll($event)" [ngModelOptions]="{standalone: true}" />
                      </th>
                      <th>Media asset</th>
                      <th>Issue date</th>
                      <th>Likelihood (%)</th>
                      <th>Order status</th>
                      <th>Ad size</th>
                      <th>Rate card cost</th>
                      <th>Ad cost</th>
                      <th>Gross cost</th>
                      <th>Net cost</th>
                      <th>Ad color</th>
                      <th>Billing method</th>
                      <th>Frequency</th>
                      <th>Headline</th>
                      <th>Posted</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let adjustment of issueDateWiseAdjustment" (click)="showMessageIfFrozen(adjustment.IsFrozen)">
                      <td>
                          <input type="checkbox" [ngClass]="{'no-click': adjustment.IsFrozen}" class="checkthis" id="{{adjustment.MediaOrderId}}"
                           [(ngModel)]="selectedIssueMediaOrder[adjustment.MediaOrderId]" (change)="chechboxChange(adjustment)" [ngModelOptions]="{standalone: true}">
                      </td>
                      <td>{{adjustment.MediaAssetName}}</td>
                      <td>{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                      <td>{{adjustment.Likelihood}} </td>
                      <td>{{adjustment.OrderStatus}}</td>
                      <td>{{adjustment.AdSizeName}}</td>
                      <td>${{adjustment.BaseRateCardCost  | number : '1.2-2'}}</td>
                      <td>${{adjustment.RateCardCost | number:'1.2-2'}}</td>
                      <td>${{adjustment.GrossCost | number:'1.2-2'}}</td>
                      <td>${{adjustment.NetCost | number:'1.2-2'}}</td>
                      <td>{{adjustment.AdColorName}}</td>
                      <td>{{adjustment.MediaBillingMathodeName}}</td>
                      <td>{{adjustment.FrequencyName}}</td>
                      <td>{{adjustment.HeadLine}}</td>
                      <td *ngIf="adjustment.IsFrozen">Yes</td>
                      <td *ngIf="!adjustment.IsFrozen">No</td>
                      <td>
                        <a (click)="editMediaOrderMediaLinesbyMediaOrderId(adjustment.MediaOrderId,adjustment.IsFrozen);" style="cursor: pointer;" title="Edit">
                          <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                        </a>
                        <a (click)="deleteMediaOrderMediaLinesbyMediaOrderId(adjustment);" title="Delete" style="cursor: pointer; widows: 30px;px;padding-left:10px;">
                          <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                        </a>
                      </td>
                    </tr>
                    <tr *ngIf="issueDateWiseAdjustment.length == 0">
                      <td colspan="11" class="setTextCenter">No record is found</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div *ngIf="isMultiple == true" class="col-md-12" style="text-align:center;padding-top:25px;">
              <div class="row">
                <button type="button" class="blueBtn" id="btnMultipleAddAdjustment" (click)="initAdAdjustmentPopUpforMultiple();" data-toggle="modal"
                  data-target="#multipleAdAdjustmentModal">Multiple ad adjustment</button>
              </div>
            </div>
          </div>
          <br>
          <br>
          <div class="row" id="grossAndNetDiv" [ngClass]="{'no-click':setGrossAndNetDivNoClick}">
            <form name="grossAdAdjustmentModalForm" [formGroup]="grossAdAdjustmentModalForm" (ngSubmit)="addMediaGrossCostAdjustment('single')">
              <div class="col-md-6 border-r border-b">

                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class=" form-group">
                      <label for="AdAdjustmentId">Gross cost adjustment </label>
                      <div class="clearfix"></div>
                      <ng-select id="ddlAdAdjustment" placeholder="Select ad adjustment" [items]="adAdjustments" formControlName="AdAdjustmentId"
                        bindValue="SrNo" bindLabel="AdAdjustmentName" (change)="onAdjustmentChange()">
                      </ng-select>
                      <div *ngIf="isValidAdAdjustmentId"
                        class="text-danger">
                        <span *ngIf="grossAdAdjustmentModalForm.controls['AdAdjustmentId'].hasError('required') ">
                          Ad adjustment is required.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                      <label for="AdAdjustmentValue">Value</label>
                      <div class="clearfix"></div>
                      <div class="input-group">
                        <input type="text" formControlName="AdAdjustmentValue" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                          placeholder="Enter value" numbersOnly>
                        <div class="input-group-addon">{{isPercentage == true ? "%" : "$"}}</div>
                      </div>
                      <div *ngIf="isValidAdAdjustmentValue"
                        class="text-danger">
                        <span *ngIf="grossAdAdjustmentModalForm.controls['AdAdjustmentValue'].hasError('required') ">
                          Value is required.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <button type="submit" class="addRept" id="btnAddAdjustment">Add</button>
                  </div>
                </div>

                <div class="row table-action-row">
                  <div class="col-md-11 col-sm-11 col-xs-12">
                    <div class="table-responsive custom-table Gross-Cost-Table">
                      <table class="table adjustment-table1">
                        <thead>
                          <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Amount</th>
                            <th>Running total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let gAdjustment of grossAdAdjustments">
                            <td>
                              <label class="checkbox-inline paddingBotton15">
                                <input type="checkbox" id="{{gAdjustment.AdAdjustmentId}}" class="checkthis" (change)="onGrossChechboxChange(gAdjustment, $event)">
                              </label>
                            </td>
                            <td>{{gAdjustment.AdAdjustmentName}}</td>
                            <td>{{gAdjustment.AdjustmentValue}}
                              <span *ngIf="gAdjustment.isPercentage == true"> %</span>
                            </td>
                            <td>${{gAdjustment.tempAdjustmentAmount}}</td>
                            <td>${{gAdjustment.tempRunningAmount}}</td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="grossAdAdjustments.length == 0">
                          <tr>
                            <td colspan="11" class="setTextCenter">No record is found</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>

                  <div class="col-md-1 col-sm-1 col-xs-12 table-action ">
                    <button type="button" class="table-action-btn" style="padding:0px;margin-right: 3px" id="btnAddAdjustment" (click)=moveRecordOneRowAbove()>
                      <img src="{{websiteRoot}}/{{imgurl}}/up-arrow.png" alt="">
                    </button>
                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveRecordOneRowBelow()>
                      <img src="{{websiteRoot}}/{{imgurl}}/down-arrow.png" alt="">
                    </button>
                    <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment"
                    (click)=deleteSelectedRecord()>
                      <img src="{{websiteRoot}}/{{imgurl}}/remove-icon.png" alt="">
                    </button>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-11 col-sm-11">
                    <div class="row">
                      <div class="col-lg-6 col-md-7 pull-right">
                        <div class="form-group cost-data">
                          <label for="">Gross cost </label>
                          <div class="input-group left-group">
                            <input type="text" class="form-control" id="txtfinalGrossAmount" [(ngModel)]="finalGrossAmount" [ngModelOptions]="{standalone: true}"
                              readonly>
                            <div class="input-group-addon">$</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>

            <form name="netAdAdjustmentModalForm" [formGroup]="netAdAdjustmentModalForm" (ngSubmit)="addMediaNetCostAdjustment('single')">
              <div class="col-md-6">
                <div class="row">

                  <div class="col-md-6 col-sm-6">
                    <div class=" form-group">
                      <label for="AdAdjustmentId">Net cost adjustment </label>
                      <div class="clearfix"></div>
                      <ng-select id="ddlNetAdAdjustment" formControlName="AdAdjustmentId" placeholder="Select ad adjustment" [items]="adAdjustments"
                        bindLabel="AdAdjustmentName" bindValue="SrNo" (change)="onNetAdjustmentChange()">
                      </ng-select>
                      <div *ngIf="isValidNetAdAdjustmentId"
                        class="text-danger">
                        <span *ngIf="netAdAdjustmentModalForm.controls['AdAdjustmentId'].hasError('required') ">
                          Ad adjustment is required.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-4 col-sm-4">
                    <div class="form-group">
                      <label for="AdAdjustmentValue">Value</label>
                      <div class="clearfix"></div>
                      <div class="input-group">
                        <input type="text" formControlName="AdAdjustmentValue" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                          [(ngModel)]="netAdAdjustment.AdjustmentValue" placeholder="Enter value" numbersOnly>
                        <div class="input-group-addon">{{netisPercentage == true ? "%" : "$"}}</div>
                      </div>
                      <div *ngIf="isValidNetAdAdjustmentValue"
                        class="text-danger">
                        <span *ngIf="netAdAdjustmentModalForm.controls['AdAdjustmentValue'].hasError('required') ">
                          Value is required.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-2 col-sm-2">
                    <button type="submit" class="addRept" id="btnNetAddAdjustment">Add</button>
                  </div>
                </div>

                <div class=" row table-action-row">
                  <div class="col-md-11 col-sm-11 col-xs-12">
                    <div class="table-responsive custom-table Net-Cost-Table">
                      <table class="table adjustment-table2">
                        <thead>
                          <tr>
                            <th>
                            </th>
                            <th>Name</th>
                            <th>Value</th>
                            <th>Amount</th>
                            <th>Running total</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let nAdjustment of netAdAdjustments">
                            <td>
                              <label class="checkbox-inline paddingBotton15">
                                <input type="checkbox" id="{{nAdjustment.IssueDateId}}" (change)="onNetChechboxChange(nAdjustment, $event)">
                              </label>
                            </td>
                            <td>{{nAdjustment.AdAdjustmentName}}</td>
                            <td>{{nAdjustment.AdjustmentValue}}
                              <span *ngIf="nAdjustment.isPercentage == true"> %</span>
                            </td>
                            <td>${{nAdjustment.tempAdjustmentAmount}}</td>
                            <td>${{nAdjustment.tempRunningAmount}}</td>
                          </tr>

                        </tbody>
                        <tbody *ngIf="netAdAdjustments.length == 0">
                          <td colspan="11" class="setTextCenter">No record is found</td>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="col-md-1 col-sm-1 col-xs-12 table-action">
                    <button type="button" class="table-action-btn" style="padding:0px;margin-right: 3px" id="btnAddAdjustment" (click)=moveOneNetRecordAbove()>
                      <img src="{{websiteRoot}}/{{imgurl}}/up-arrow.png" alt="">
                    </button>
                    <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveOneNetRecordBelow()>
                      <img src="{{websiteRoot}}/{{imgurl}}/down-arrow.png" alt="">
                    </button>
                    <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;"
                    id="btnAddAdjustment" (click)=deleteSelectedNetRecord()>
                      <img src="{{websiteRoot}}/{{imgurl}}/remove-icon.png" alt="">
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-11 col-sm-11">
                    <div class="row">
                      <div class="col-lg-6 col-md-7 pull-right">
                        <div class="form-group cost-data">
                          <label for="">Net cost </label>
                          <div class="input-group left-group">
                            <input type="text" class="form-control" id="txtfinalNetAmount" [(ngModel)]="finalNetAmount" [ngModelOptions]="{standalone: true}"
                              readonly>
                            <div class="input-group-addon">$</div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </form>
            
          </div>
         
          <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 text-center">              
              <div class="update-status">
                <div class=" form-group" [ngClass]="{'no-click':setGrossAndNetDivNoClick}" >
                  <label for="Likelihood">Likelihood </label>                  
                  <select class="form-control" (change)="onLikelihoodChange(ddlLikelihood.value)" #ddlLikelihood>
                    <option value="0">Select</option>
                    <option *ngFor="let like of likelihoods" value={{like}}>
                      {{like}}
                    </option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="Likelihood" class="status-title">Order Status </label>
                  <label class="radio-inline">
                    <input type="radio" name="ordersAdvertiser"  (change)="changeStatus(orderType)" [(ngModel)]="orderType" value="Proposal">Proposal
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="ordersAgency"  (change)="changeStatus(orderType)" [(ngModel)]="orderType" value="Run">Run
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="ordersAgency"  (change)="changeStatus(orderType)" [(ngModel)]="orderType" value="Cancel">Cancel
                  </label>
                  <label class="">
                    <button type="button" class="addRept" id="btnOrderType" (click)=updateOrderType(orderType)>Update</button>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 text-center" style="padding-top:30px;">
              <form id="frmMediaDocumentsUpload" [formGroup]="frmMediaDocumentsUpload">
              <div class="row">
                <div class="col-md-3"><label for="FinalFileName" class="input-group-label" style="margin-top: 8px;font-size: 12px;">Select document</label></div>
                <div class="col-md-6">
              <div class="form-group custom-uploader" style="margin-bottom:0px;">
                  <div class="input-group">
                    <input type="text" formControlName="txtMediaOrderSignedDocuments" id="txtMediaOrderSignedDocuments" name="txtMediaOrderSignedDocuments" class="form-control"
                      placeholder="No file selected" ngModel readonly>
                    <span class="input-group-btn" style="top: 5px;">
                      <span class="btn btn-default  custom-file-uploader">
                        <input id="mediaOrderFile-Upload" name="mediaOrderFile-Upload" formControlName="mediaOrderFile-Upload" class="production-Logo" accept=".pdf,.docx,.doc" type="file"
                          (change)="uploadMediaOrderSignedDocuments($event)" />
                        <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                      </span>
                    </span>
                    <span *ngIf="isSignedDocumentRequiredMsg" class="text-danger">
                      Document file is required.
                    </span>
                  </div>
                </div>
                </div>
                <div class="col-md-3"><button type="button" class="addRept" id="btnUploadDocumentFiles" style="margin-top:10px;" (click)='onMediaOrderSignedDocumentAdd()'>Add</button></div>
              </div>  
              <div class="row table-action-row" style="padding-top:5px;">
                <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="table-responsive custom-table Net-Cost-Table">
                  <table class="table adjustment-table2">
                  <thead>
                    <tr>
                      <th>Document</th>
                      <th>Added by</th>
                      <th>Added on</th>
                      <th></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let nMediaOrderSignedDocuments of mediaOrderSignedDocumentsList">
                      <td class="text-left">
                        {{nMediaOrderSignedDocuments.FilePath.substring(nMediaOrderSignedDocuments.FilePath.lastIndexOf("/")+1,nMediaOrderSignedDocuments.FilePath.length)}}
                      </td>
                      <td class="text-left">{{nMediaOrderSignedDocuments.CreatedBy}}</td>
                      <td class="text-left">{{nMediaOrderSignedDocuments.CreatedDate | date: "MM/dd/yyyy h:mm"}}</td>
                      <td>
                        <a target="_blank" href="https://localhost:444/{{nMediaOrderSignedDocuments.FilePath}}" title="{{nMediaOrderSignedDocuments.FilePath}}" style="cursor: pointer;width:20px;margin-right:0px;">
                          <img src="{{websiteRoot}}/{{imgurl}}/view-document.png" alt="View" />
                          </a>
                      </td>
                      <td>
                        <a (click)="deleteMediaOrderSignedDocumentById(nMediaOrderSignedDocuments);" title="Delete" style="cursor: pointer;width:20px;margin-right:0px;">
                        <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="Delete" />
                        </a>
                      </td>
                    </tr>
                  </tbody>
                  <tbody *ngIf="mediaOrderSignedDocumentsList.length == 0">
                    <td colspan="5" class="setTextCenter">No record is found</td>
                  </tbody>
                  </table>
                </div>
                </div>
                </div>
              </form>
            </div>              
          </div> <div class="clearfix"></div>

            <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 col-lg-offset-6 text-center">
              <div class="form-group setNextButtonAlign marTopnone">
                <button type="button" class="blueBtn createBtn" id="btnIO" (click)="getAdvertiserThroughASI($event)">
                  Generate Insertion Order</button>&nbsp;
                <button type="button" class="blueBtn createBtn" id="btnOP" (click)="getAdvertiserThroughASI($event)">
                  Proposal
                </button>
              </div>
            </div>

            <div class="clearfix"></div>
          </div>

          <div class="row">
            <div class="col-xs-12">
              <div class="form-group setNextButtonAlign pull-left" style="margin-top:0;">
                <button type="button" class="createBtn orangeBtn" id="btnOrders" (click)="goToPreviousTab()">Previous</button>
              </div>
              <div class="form-group pull-right setNextButtonAlign" style="margin-top:0;">
                <button type="button" class="blueBtn createBtn" (click)="finishNExit();">Finish & Exit</button>&nbsp;
                <button type="button" class="createBtn orangeBtn" id="btnOrders" (click)="redirectToProductionPage()">
                  Next
                </button>
              </div>
            </div>
          </div>

          <!-- Multiple Ad Adjustment Modal-->
          <form>
            <div class="modal fade bs-example-modal-lg mampopup" id="multipleAdAdjustmentModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
              data-backdrop="static" data-keyboard="false">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div class="row">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                            <a href="javascript:void(0);">
                              <h6>Ad adjustment</h6>
                            </a>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <!--  Gross Amount-->
                        <form name="multipleGrossAdAdjustmentModalForm" [formGroup]="multipleGrossAdAdjustmentModalForm" (ngSubmit)="addMediaGrossCostAdjustment('multiple')">

                          <div class="col-md-6 border-r border-b">

                            <div class="row">

                              <div class="col-md-6 col-sm-6">
                                <div class=" form-group">
                                  <label for="AdAdjustment">Gross cost adjustment </label>
                                  <div class="clearfix"></div>
                                  <ng-select id="ddlAdAdjustmentM" formControlName="AdAdjustmentId" placeholder="Select ad adjustment" [items]="adAdjustments"
                                    bindLabel="AdAdjustmentName" bindValue="SrNo" (change)="onAdjustmentChangePopUp()">
                                  </ng-select>
                                  <div *ngIf="isValidMultipleGrossAdAdjustmentId"
                                    class="text-danger">
                                    <span *ngIf="multipleGrossAdAdjustmentModalForm.controls['AdAdjustmentId'].hasError('required') ">
                                      Ad adjustment is required.
                                    </span>
                                  </div>
                                </div>
                              </div>


                              <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                  <label for="AdAdjustmentValue">Value</label>
                                  <div class="clearfix"></div>
                                  <div class="input-group">
                                    <input formControlName="AdAdjustmentValue" type="text" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                      placeholder="Enter value" [(ngModel)]="grossAdAdjustment.AdjustmentValue" numbersOnly>
                                    <div class="input-group-addon">{{isPercentage == true ? "%" : "$"}}</div>
                                  </div>
                                  <div *ngIf="isValidMultipleGrossAdAdjustmentValue"
                                    class="text-danger">
                                    <span *ngIf="multipleGrossAdAdjustmentModalForm.controls['AdAdjustmentValue'].hasError('required') ">
                                      Value is required.
                                    </span>
                                  </div>
                                </div>
                              </div>
                              <div class="col-md-2 col-sm-2">
                                <button type="submit" class="addRept" id="btnAddAdjustment">Add</button>
                              </div>
                            </div>

                            <div class="row table-action-row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive custom-table Gross-Cost-Table">
                                  <table class="table adjustment-table1">
                                    <thead>
                                      <tr>
                                        <th></th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Amount</th>
                                        <th>Running total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let gAdjustment of grossAdAdjustments">
                                        <td>
                                          <label class="checkbox-inline paddingBotton15">
                                            <input type="checkbox" class="checkthis" (change)="onGrossChechboxChange(gAdjustment, $event)">
                                          </label>
                                        </td>
                                        <td>{{gAdjustment.AdAdjustmentName}}</td>
                                        <td>
                                          {{gAdjustment.AdjustmentValue}}
                                          <span *ngIf="gAdjustment.isPercentage == true">%</span>
                                        </td>
                                        <td>${{gAdjustment.tempAdjustmentAmount}}</td>
                                        <td>${{gAdjustment.tempRunningAmount}}</td>
                                      </tr>
                                    </tbody>
                                    <tbody *ngIf="grossAdAdjustments.length == 0">
                                      <tr>
                                        <td colspan="11" class="setTextCenter">No record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="col-md-1 col-sm-1 col-xs-12 table-action hide">
                                <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveRecordOneRowAbove()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/up-arrow.png" alt="">
                                </button>
                                <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveRecordOneRowBelow()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/down-arrow.png" alt="">
                                </button>
                                <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" (click)=deleteSelectedRecord()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/remove-icon.png" alt="">
                                </button>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-11 col-sm-11">
                                <div class="row">
                                  <div class="col-lg-7 col-md-7 pull-right">
                                    <div class="form-group cost-data">
                                      <label for="">Gross Cost :</label>
                                      <div class="input-group left-group">
                                        <input type="text" class="form-control" id="txtfinalGrossAmount" [(ngModel)]="finalGrossAmount" [ngModelOptions]="{standalone: true}"
                                          readonly>
                                        <div class="input-group-addon">$</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </form>


                        <!--  Net Amount-->
                        <form name="multipleNetAdAdjustmentModalForm" [formGroup]="multipleNetAdAdjustmentModalForm" (ngSubmit)="addMediaNetCostAdjustment('multiple')">

                          <div class="col-md-6">

                            <div class="row">

                              <div class="col-md-6 col-sm-6">
                                <div class=" form-group">
                                  <label for="AdAdjustment">Net cost adjustment </label>
                                  <div class="clearfix"></div>
                                  <ng-select id="ddlNetAdAdjustmentM" formControlName="AdAdjustmentId" placeholder="Select ad adjustment" [items]="adAdjustments"
                                    bindLabel="AdAdjustmentName" bindValue="SrNo" (change)="onNetAdjustmentChangePopUp()">
                                  </ng-select>
                                  <div *ngIf="isValidMultipleNetAdAdjustmentId"
                                    class="text-danger">
                                    <span *ngIf="multipleNetAdAdjustmentModalForm.controls['AdAdjustmentId'].hasError('required') ">
                                      Ad adjustment is required.
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-4 col-sm-4">
                                <div class="form-group">
                                  <label for="AdAdjustmentValue">Value</label>
                                  <div class="clearfix"></div>
                                  <div class="input-group">
                                    <input type="text" formControlName="AdAdjustmentValue" name="AdAdjustmentValue" class="form-control" id="txtAdAdjustmentValue"
                                      [(ngModel)]="netAdAdjustment.AdjustmentValue" placeholder="Enter value" numbersOnly>
                                    <div class="input-group-addon">{{netisPercentage == true ? "%" : "$"}}</div>
                                  </div>
                                  <div *ngIf="isValidMultipleNetAdAdjustmentValue"
                                    class="text-danger">
                                    <span *ngIf="multipleNetAdAdjustmentModalForm.controls['AdAdjustmentValue'].hasError('required') ">
                                      Value is required.
                                    </span>
                                  </div>
                                </div>
                              </div>

                              <div class="col-md-2 col-sm-2">
                                <button type="submit" class="addRept" id="btnNetAddAdjustment">Add</button>
                              </div>
                            </div>

                            <div class="row table-action-row">
                              <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="table-responsive custom-table Net-Cost-Table">
                                  <table class="table adjustment-table2">
                                    <thead>
                                      <tr>
                                        <th>
                                        </th>
                                        <th>Name</th>
                                        <th>Value</th>
                                        <th>Amount</th>
                                        <th>Running total</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let nAdjustment of netAdAdjustments">
                                        <td>
                                          <label class="checkbox-inline paddingBotton15">
                                            <input type="checkbox" id="{{nAdjustment.IssueDateId}}" (change)="onNetChechboxChange(nAdjustment, $event)">
                                          </label>
                                        </td>
                                        <td>{{nAdjustment.AdAdjustmentName}}</td>
                                        <td>{{nAdjustment.AdjustmentValue}}
                                          <span *ngIf="nAdjustment.isPercentage == true"> %</span>
                                        </td>
                                        <td>${{nAdjustment.tempAdjustmentAmount}}</td>
                                        <td>${{nAdjustment.tempRunningAmount}}</td>
                                      </tr>
                                    </tbody>
                                    <tbody *ngIf="netAdAdjustments.length == 0">
                                      <tr>
                                        <td colspan="11" class="setTextCenter">No record is found</td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                              <div class="col-md-1 col-sm-1 col-xs-12 table-action hide">
                                <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveOneNetRecordAbove()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/up-arrow.png" alt="">
                                </button>
                                <button type="button" class="table-action-btn" style="padding:0px;" id="btnAddAdjustment" (click)=moveOneNetRecordBelow()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/down-arrow.png" alt="">
                                </button>
                                <button type="button" class="table-action-btn table-action-btn-remove" style="padding:0px;" id="btnAddAdjustment" (click)=deleteSelectedNetRecord()>
                                  <img src="{{websiteRoot}}/{{imgurl}}/remove-icon.png" alt="">
                                </button>
                              </div>
                            </div>

                            <div class="row">
                              <div class="col-md-11 col-sm-11">
                                <div class="row">
                                  <div class="col-lg-7 col-md-7 pull-right">
                                    <div class="form-group cost-data">
                                      <label for="">Net cost </label>
                                      <div class="input-group left-group">
                                        <input type="text" class="form-control" id="txtfinalNetAmount" [(ngModel)]="finalNetAmount" [ngModelOptions]="{standalone: true}"
                                          readonly>
                                        <div class="input-group-addon">$</div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                          </div>
                        </form>

                      </div>
                    </div>
                  </div>
                  <div class="modal-footer" style="text-align:right;">
                    <button type="button" class="blueBtn" data-dismiss="modal" (click)="cancelMultipleAdAdjustment();">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
      

      </div>
    </div>
  </form>


  <div id="editor"></div>

  <!-- Insertion Order Preview Modal-->
  <form name="ordersDetailModalForm" [formGroup]="ordersDetailModalForm">
    <div class="modal fade bs-example-modal-lg mampopup" id="ordersDetailModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <button type="button" id="btnWord" style="padding:0px;border: none;" (click)="exportDataWord()">
                    <img title="Export to Word" src="{{websiteRoot}}/{{imgurl}}/word-icon.png" />
                  </button>&nbsp;
                  <button type="button" id="btnExcel" style="padding:0px;border: none;" (click)="exportDataExcel()">
                    <img title="Export to Excel" src="{{websiteRoot}}/{{imgurl}}/excel-icon.png" />
                  </button>&nbsp;
                  <button type="button" id="btnPDF" style="padding:0px;border: none;" (click)="pdf.saveAs('orderdetail.pdf')">
                    <img title="Export to Pdf" src="{{websiteRoot}}/{{imgurl}}/pdf-icon.png" />
                  </button>&nbsp;
                </div>
              </div>
              <div class="col-sm-8">
              </div>
            </div>

            <div id="exportable">
              <kendo-pdf-export #pdf paperSize="A4" margin="1cm" [scale]="0.8" height="500">
                <div class="row">
                  <div class="col-sm-4"></div>
                  <div class="col-sm-4" style="text-align:center">
                    <h3>
                      <b>{{commonOrderDetail.CampaignName}}</b>
                    </h3>
                  </div>
                  <div class="col-sm-4" style="text-align:center"></div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <table style="width: 100%;border:none">
                      <tr style="width: 100%;">
                        <td style="float: left;width: 50%;">
                          <div>
                            <b>Advertiser </b>
                            <span>{{commonOrderDetail.AdvertiserName}}</span>
                          </div>
                          <div *ngIf="isAgency">
                            <b>Agency </b>
                            <span>{{commonOrderDetail.AgencyName}}</span>
                          </div>
                          <div>
                            <b>Bill to contact </b>
                            <span>{{commonOrderDetail.ContactName}}</span>
                          </div>
                          <div *ngIf="isAddress">
                            <b>Address</b>
                            <span id="addStreetAdj" [innerHTML]="addStreetAdjHTML"></span>
                            <span style="margin-left:65px" *ngIf="addStreetAdjHTML1" id="addStreetAdj" [innerHTML]="addStreetAdjHTML1"></span>
                            <span style="margin-left:65px">{{commonOrderDetail.City}} {{commonOrderDetail.State}} {{commonOrderDetail.PostalCode}} </span>
                            <br />
                            <span style="margin-left:65px">{{commonOrderDetail.Country}}</span>
                            <!-- <br />
                            <span style="margin-left:65px"></span>
                            <br />
                            <span style="margin-left:65px"></span> -->
                          </div>
                        </td>
                        <td style="float: right;width: 35%;">
                          <div>
                            <div>
                              <b>Date </b>
                              <span>{{commonOrderDetail.CreatedDate}}</span>
                            </div>
                            <div>
                              <b>Order number </b>
                              <span>{{commonOrderDetail.BuyId}}</span>
                            </div>
                            <div id="commonDetaildvAdj" [innerHTML]="commonDetaildvAdjHTML">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <table>
                      <thead>
                        <tr style="border:1px solid black">
                          <th width="15%" style="border:1px solid black">Media asset</th>
                          <th width="15%" style="border:1px solid black">Run date</th>
                          <th width="30%" style="border:1px solid black">Ad details</th>
                          <th width="10%" style="border:1px solid black">Unit</th>
                          <th width="10%" style="border:1px solid black">Position</th>
                          <th width="15%" style="border:1px solid black">Gross cost</th>
                          <th width="10%" style="border:1px solid black">Net cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let adjustment of selectedIssueMediaOrderData" style="border:1px solid black">
                          <td width="15%" style="border:1px solid black">{{adjustment.MediaAssetName}}</td>
                          <td width="15%" style="border:1px solid black">{{adjustment.IssueDate | date : "MM/dd/yyyy"}}</td>
                          <td width="30%" style="border:1px solid black">
                            {{adjustment.AdTypeName}} | {{adjustment.AdColorName}} | {{adjustment.AdSizeName}} | {{adjustment.FrequencyName}}
                          </td>
                          <td width="10%" style="border:1px solid black">{{adjustment.Units}} </td>
                          <td width="10%" style="border:1px solid black">{{adjustment.PositionName}} </td>
                          <td width="15%" style="border:1px solid black">${{adjustment.GrossCost | number:'1.2-2'}}</td>
                          <td width="10%" style="border:1px solid black">${{adjustment.NetCost | number:'1.2-2'}}</td>
                        </tr>
                        <tr>
                          <td colspan="5"  style="text-align:right;border:1px solid black"><b>Total Cost </b></td>
                          <td width="15%" style="border:1px solid black">${{finalTotalGrossAmount| number:'1.2-2'}}</td>
                          <td width="15%" style="border:1px solid black">${{finalTotalNetAmount| number:'1.2-2'}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="selectedIssueMediaOrderData.length == 0">
                        <tr>
                          <td class="setTextCenter">No record is found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br />
                <div style="width:100%">
                  <table style="width: 100%;border:none">
                    
                    <tr style="width: 100%;border:none">
                      <td style="width: 30%;"></td>
                      <td style="width: 30%;"></td>
                      <td style="width: 40%;">
                        <br />
                        <br />
                        <br />
                        <b>
                          <span>_______________________________________________</span>
                        </b>
                        <br />
                        <table>
                          <tr>
                            <td width="20%">Signature</td>
                            <td width="60%"></td>
                            <td width="20%">Date</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="modal-footer">
                  <table>
                    <tr style="width: 100%;border:none">
                      <td style="width:15%;text-align:center">
                        <br />
                        <br />
                        <img src="{{sampleLogoImagePath}}" height="60" width="300" />
                      </td>
                      <td style="width:50%;text-align:center">
                        <br />
                        <br />
                        <b>THANK YOU! This form send to</b>
                        <br />
                        <br /> 901 N. Pitt Street, Suite 200
                        <br /> Alexandria, VA 22314
                        <br />
                      </td>
                      <td style="width:25%;height:100%;"></td>
                    </tr>
                  </table>
                </div>
              </kendo-pdf-export>
            </div>

          </div>

        </div>
      </div>
    </div>
  </form>

  <!-- Proposal Preview Modal-->
  <form name="proposalModalForm" [formGroup]="proposalModalForm">
    <div class="modal fade bs-example-modal-lg mampopup" id="orderProposalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="row">
                  <button type="button" id="btnWordProposal" style="padding:0px;border: none;" (click)="exportProposalWord()">
                    <img src="{{websiteRoot}}/{{imgurl}}/word-icon.png" />
                  </button>&nbsp;
                  <button type="button" id="btnExcelProposal" style="padding:0px;border: none;" (click)="exportProposalExcel()">
                    <img src="{{websiteRoot}}/{{imgurl}}/excel-icon.png" />
                  </button>&nbsp;
                  <button type="button" id="btnPDFProposal" style="padding:0px;border: none;" (click)="pdfProposal.saveAs('orderProposal.pdf')">
                    <img src="{{websiteRoot}}/{{imgurl}}/pdf-icon.png" />
                  </button>&nbsp;
                </div>
              </div>
              <div class="col-sm-8">
              </div>
            </div>
            <div id="exporProposal">
              <kendo-pdf-export #pdfProposal paperSize="A4" margin="1cm" [scale]="0.8" height="500">
                <div class="row">
                  <div class="col-sm-4">

                  </div>
                  <div class="col-sm-4" style="text-align:center">
                    <h3>
                      <b>Order acknowledgement</b>
                    </h3>
                  </div>
                  <div class="col-sm-4" style="text-align:right">
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <table style="width: 100%;border:none">
                      <tr style="width: 100%;">
                        <td style="float: left;width: 50%;">
                          <div>
                            <b>Advertiser </b>
                            <span>{{commonOrderDetail.AdvertiserName}}</span>
                          </div>
                          <div *ngIf="isAgency">
                            <b>Agency </b>
                            <span>{{commonOrderDetail.AgencyName}}</span>
                          </div>
                          <div>
                            <b>Bill to contact </b>
                            <span>{{commonOrderDetail.ContactName}}</span>
                          </div>
                          <div *ngIf="isAddress">
                            <b>Address</b>
                            <span id="addStreetProposalAdj" [innerHTML]="addStreetProposalAdjHTML"></span>
                            <span style="margin-left:65px" *ngIf="addStreetProposalAdjHTML1" id="addStreetProposalAdj" [innerHTML]="addStreetProposalAdjHTML1"></span>
                            <span style="margin-left:65px">{{commonOrderDetail.City}} {{commonOrderDetail.State}} {{commonOrderDetail.PostalCode}} </span>
                            <br />
                            <span style="margin-left:65px">{{commonOrderDetail.Country}}</span>
                          </div>
                        </td>
                        <td style="float: right;width: 35%;">
                          <div>
                            <div>
                              <b>Date </b>
                              <span>{{commonOrderDetail.CreatedDate}}</span>
                            </div>
                            <div>
                              <b>Order number </b>
                              <span>{{commonOrderDetail.BuyId}}</span>
                            </div>
                            <div id="commonDetaildvProposalAdj" [innerHTML]="commonDetaildvProposalAdjHTML">
                            </div>
                          </div>
                        </td>
                      </tr>
                    </table>
                  </div>
                </div>
                <br />
                <div class="row">
                  <div class="col-sm-12">
                    <table style="width:100%">
                      <thead>
                        <tr style="width:100%; border:1px solid black">
                          <th width="15%" style="text-align:center">Media asset</th>
                          <th width="15%" style="text-align:center">Run date</th>
                          <th width="30%" style="text-align:center">Ad details</th>
                          <th width="10%" style="text-align:center">Unit</th>
                          <th width="10%" style="text-align:center">Position</th>
                          <th width="10%" style="text-align:center">Ad cost</th>
                          <th width="15%" style="text-align:center">Gross cost</th>
                          <th width="10%" style="text-align:center">Net cost</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let adjustment of selectedIssueMediaOrderDataDownload">
                          <td colspan="9">
                            <table style="width:100%">
                              <tr style="width:100%;border:1px solid black">
                                <td width="15%" style="border:1px solid black; text-align:center">
                                  {{adjustment.MediaAssetName}}
                                </td>
                                <td width="15%" style="border:1px solid black; text-align:center">
                                  {{adjustment.IssueDate | date : "MM/dd/yyyy"}}
                                </td>
                                <td width="30%" style="border:1px solid black; text-align:center">
                                  {{adjustment.AdTypeName}} | {{adjustment.AdColorName}} | {{adjustment.AdSizeName}} | {{adjustment.FrequencyName}}
                                </td>
                                <td width="10%" style="border:1px solid black; text-align:center">
                                  {{adjustment.Units}}
                                </td>
                                <td width="10%" style="border:1px solid black; text-align:center">
                                  {{adjustment.PositionName}}
                                </td>
                                <td width="10%" style="border:1px solid black; text-align:center">
                                  ${{adjustment.RateCardCost | number:'1.2-2'}}
                                </td>
                                <td width="15%" style="border:1px solid black; text-align:center">
                                  ${{adjustment.GrossCost | number:'1.2-2'}}
                                </td>
                                <td width="10%" style="border:1px solid black; text-align:center">
                                  ${{adjustment.NetCost | number:'1.2-2'}}
                                </td>
                              </tr>
                              <tr style="width:100%;border:1px solid black" *ngIf="adjustment.mediaIssueDateWiseAdjustments!=null">
                                <th colspan="2" style="text-align:center">Adjustment</th>
                                <th style="text-align:center">Value</th>
                                <th colspan="2" style="text-align:center">Amount</th>
                                <th colspan="3" style="text-align:center">Running cost</th>
                              </tr>
                              <tr style="width:100%;border:1px solid black" *ngFor="let gAdjustment of adjustment.mediaIssueDateWiseAdjustments">
                                <td colspan="2" style="text-align:center">{{gAdjustment.AdAdjustmentName}}</td>
                                <td style="text-align:center">
                                  <span *ngIf="gAdjustment.AmountPercent == false">$ </span>{{gAdjustment.AdjustmentValue}}
                                  <span *ngIf="gAdjustment.AmountPercent == true">
                                    %</span>
                                </td>
                                <td colspan="2" style="text-align:center">
                                  <span *ngIf="gAdjustment.SurchargeDiscount == true">-</span>
                                  {{gAdjustment.tempAdjustmentAmount | number:'1.2-2'}}</td>
                                <td colspan="3" style="text-align:center">${{gAdjustment.runningCost | number:'1.2-2'}}</td>
                              </tr>

                            </table>
                            

                          </td>
                        </tr>
                      </tbody>
                      <tbody>
                        <tr style="width:100%;border:1px solid black">
                          <td colspan="5" style="text-align:right"><b>Total cost</b> </td>
                          <td style="border:1px solid black;text-align:center">${{this.finalTotalAdCost| number:'1.2-2'}}
                          </td>
                          <td style="border:1px solid black;text-align:center">${{this.finalTotalGrossAmount| number:'1.2-2'}}</td>
                          <td style="border:1px solid black;text-align:center">${{this.finalTotalNetAmount| number:'1.2-2'}}</td>
                        </tr>
                      </tbody>
                      <tbody *ngIf="selectedIssueMediaOrderDataDownload.length == 0">
                        <tr style="width:100%">
                          <td class="setTextCenter">No record is found</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
                <br />
                <div>
                  <table style="width:100%">
                    <tr width="100%">
                      <td width="40%" style="text-align:left">
                        <b>
                          <br />
                          <br />
                          <br />
                          <span>NAME ________________________</span>
                        </b>
                      </td>
                      <td width="20%"></td>
                      <td width="40%" style="text-align:right">
                        <b>
                          <br />
                          <br />
                          <br />
                          <span>DATE _______________________</span>
                        </b>
                      </td>
                    </tr>
                  </table>

                </div>
                <div class="modal-footer">
                  <table>
                    <tr style="width: 100%;border:none">
                      <td style="width:25%;text-align:center">
                        <br />
                        <br />
                        <img src="{{sampleLogoImagePath}}" height="60" width="300" />
                      </td>
                      <td style="width:50%;text-align:center">
                        <br />
                        <br />
                        <b>THANK YOU! This form send to</b>
                        <br />
                        <br /> 901 N. Pitt Street, Suite 200
                        <br /> Alexandria, VA 22314
                        <br />
                      </td>
                      <td style="width:25%;height:100%;"></td>
                    </tr>
                  </table>
                </div>
              </kendo-pdf-export>
            </div>
          </div>

        </div>
      </div>
    </div>
  </form>
</div>