.paddingBotton15 {
    padding-bottom: 15px;
}

.setNextButtonAlign {
    padding: 10px 0px;
    margin: 30px auto;
}

@media (min-width: 992px) {
    .modal-lg {
        width: 1024px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1024px;
    }
}

@media (max-width: 787px) {
    .setNextButtonAlign, .update-status {
        margin-bottom: 0 !important;
    }

    .createBtn {
        padding: 8px 17px;
    }
}

@media (max-width: 361px) {
    .createBtn {
        padding: 8px 25px;
    }
}

@media (max-width: 320px) {
    .createBtn {
        padding: 8px 17px;
    }
}

.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row1:after {
    content: "";
    display: table;
    clear: both;
}
