<!--Advertiser-->
<ng-template #advertiserPopover>
  <div class="triangle"> </div>
  <div class="">
    <div class="form-group">
      <!--  -->
      <button type="button" (click)="setClearAllSearchFields(p1, columnNames.AdvertiserName);" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select [(ngModel)]='filter.AdverdtiserType' class='form-control customInput' style='width: 100%;'>
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
      </select>
    </div>
    <div class="form-group">
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="advertiserPopoverValue" [(ngModel)]='filter.AdverdtiserName' style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchbyAdvertiser(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.AdvertiserName);'>Clear Filter</button>
  </div>
</ng-template>

<!--Bill To Id-->
<ng-template #billToIdPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p2, columnNames.AdvertiserId);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="billToIdPopoverValue" [(ngModel)]="filter.AdverdtiserId" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchByAdvertiserId(filter,true);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.AdvertiserId);'>Clear Filter</button>
  </div>
</ng-template>

<!--Billing Contact-->
<ng-template #billingContactPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p3, columnNames.billToContact);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Type</label>

      <select [(ngModel)]="filter.BillingContactType" class='form-control customInput' style='width: 100%;'>
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
      </select>
    </div>
    <div class='form-group '>
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="billingContactPopoverValue" [(ngModel)]="filter.BillingContactName"
        style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchbyBillingContact(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.billToContact);'>Clear Filter</button>
  </div>
</ng-template>

<!--Ship To Id-->
<ng-template #billToContactIdPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p4, columnNames.ST_ID);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="billToContactIdPopoverValue" [(ngModel)]="filter.BillingContactId"
        style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchByBillingContactId(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.ST_ID);'>Clear Filter</button>
  </div>
</ng-template>

<!--Buy Id-->
<ng-template #buyIdPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p5, columnNames.BuyId);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Type</label>

      <select class='form-control customInput' [(ngModel)]="filter.BuyIdType" style='width: 100%;'>
        <option value='Equal'>Equals</option>
        <option value='GreaterThan'>GreaterThan</option>
        <option value='LessThan'>LessThan</option>
        <option value='GreaterOrEqual'>GreaterOrEqual</option>
        <option value='LessOrEqual'>LessOrEqual</option>
      </select>
    </div>
    <div class='form-group '>
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="buyIdPopoverValue" [(ngModel)]="filter.BuyId" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchByBuyId(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.BuyId);'>Clear Filter</button>
  </div>
</ng-template>

<!--MediaAsset-->
<ng-template #mediaAssetPopover>
  <div class="triangle"> </div>
  <div class="ns-popover-tooltip">
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p51, columnNames.MediaAsset);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group'>
      <label>Media asset</label>
    </div>
    <button type='button' class='blueBtn' (click)='searchByStatus(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.Status);'>Clear Filter</button>
  </div>
</ng-template>

<!--Status-->
<ng-template #statusPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p6, columnNames.Status);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Status</label>
      <select class='form-control customInput' [(ngModel)]="filter.Status" style='width: 100%;'>
        <option value='Proposal'>Proposal</option>
        <option value='Run'>Run</option>
        <option value='Cancel'>Cancel</option>
      </select>
    </div>
    <button type='button' class='blueBtn' (click)='searchByStatus(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.Status);'>Clear Filter</button>
  </div>
</ng-template>

<!--Run Date From-->
<ng-template #fromDatePopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p7, columnNames.FlightStartDate);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label for="">From date</label>
      <div class="input-group date" data-date-format="mm/dd/yyyy">
        <input type="text" class="form-control datepicker" id="txtfFromDate" name="FromDatef" [(ngModel)]="filter.fFromDate" bsDatepicker
          style='text-align: left;max-width: 100%;width: 100%;' [bsConfig]="{containerClass: 'theme-default' }">
        <div class="input-group-addon">
          <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">To date</label>
      <div class="input-group date" data-date-format="mm/dd/yyyy">
        <input type="text" class="form-control datepicker" id="txtfToDate" name="toDatef" [(ngModel)]="filter.fToDate" bsDatepicker
          style='text-align: left;max-width: 100%;width: 100%;' [bsConfig]="{containerClass: 'theme-default' }">
        <div class="input-group-addon">
          <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt=" ">
        </div>
      </div>
    </div>
    <button type='button' class='blueBtn' (click)='searchByFlightStartDate(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.FlightStartDate);'>Clear Filter</button>
  </div>
</ng-template>

<!-- Run Date To-->
<ng-template #toDatePopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p8, columnNames.FlightEndDate);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label for="">From date</label>
      <div class="input-group date" data-date-format="mm/dd/yyyy">
        <input type="text" class="form-control datepicker" id="txttFromDate" name="FromDatet" [(ngModel)]="filter.tFromDate" bsDatepicker
          style='text-align: left;max-width: 100%;width: 100%;' [bsConfig]="{containerClass: 'theme-default' }">
        <div class="input-group-addon">
          <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt=" " />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="">To date</label>
      <div class="input-group date" data-date-format="mm/dd/yyyy">
        <input type="text" class="form-control datepicker" id="txttToDate" name="toDatet" [(ngModel)]="filter.tToDate" bsDatepicker
          style='text-align: left;max-width: 100%;width: 100%;' [bsConfig]="{containerClass: 'theme-default' }">
        <div class="input-group-addon">
          <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
        </div>
      </div>
    </div>
    <button type='button' class='blueBtn' (click)='searchByFlightEndDate(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.FlightEndDate);'>Clear Filter</button>
  </div>
</ng-template>

<!--Gross Amount-->
<ng-template #grossAmountPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p9, columnNames.GrossCost);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' [(ngModel)]="filter.GrossAmountType">
        <option value='Equal'>Equals</option>
        <option value='GreaterThan'>GreaterThan</option>
        <option value='LessThan'>LessThan</option>
        <option value='GreaterOrEqual'>GreaterOrEqual</option>
        <option value='LessOrEqual'>LessOrEqual</option>
      </select>
    </div>
    <div class='form-group '>
      <label>Gross amount</label>
      <br>
      <input type='text' id="grossAmountPopoverGrossAmount" allow-decimal-numbers class='form-control customInput' [(ngModel)]="filter.GrossAmount"
        style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchByGrossAmount(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.GrossCost);'>Clear Filter</button>
  </div>
</ng-template>

<!--Net Amount-->
<ng-template #netAmountPopover>
  <div class="triangle"> </div>
  <div>
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p10, columnNames.NetCost);" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class='form-group '>
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' [(ngModel)]="filter.NetAmountType">
        <option value='Equal'>Equals</option>
        <option value='GreaterThan'>GreaterThan</option>
        <option value='LessThan'>LessThan</option>
        <option value='GreaterOrEqual'>GreaterOrEqual</option>
        <option value='LessOrEqual'>LessOrEqual</option>
      </select>
    </div>
    <div class='form-group '>
      <label>Net amount</label>
      <br>
      <input type='text' id="netAmountPopoverNetAmount" allow-decimal-numbers class='form-control customInput' [(ngModel)]="filter.NetAmount"
        style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)='searchByNetAmount(filter);'>Apply</button>
    <button type='button' class='resetBtn pull-right' (click)='clearSearchFields(columnNames.NetCost);'>Clear Filter</button>
  </div>
</ng-template>

<form>
  <div>
    <div data-loading> </div>
    <div class="tab-pane fade in active" role="tabpanel" id="orders" aria-labelledby="orders-tab">
      <div>
        <div class=" table-responsive custom-table">
          <table datatable [dtOptions]="orderDatatable" [dtTrigger]="orderDatatableTrigger" class="table post-orders-table display"
            width="100%">
            <thead>
              <tr>
                <th style="width:80px;"></th>
                <th>
                  Advertiser
                  <a href="javascript:" #p1="ngbPopover" [ngbPopover]="advertiserPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Bill to ID
                  <a href="javascript:" #p2="ngbPopover" [ngbPopover]="billToIdPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <!-- <th >
                  Billing contact
                  <a href="javascript:" #p3="ngbPopover" [ngbPopover]="billingContactPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th> -->

                <th>
                  Ship to ID
                  <a href="javascript:" #p4="ngbPopover" [ngbPopover]="billToContactIdPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Buy ID
                  <a href="javascript:" #p5="ngbPopover" [ngbPopover]="buyIdPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Media asset
                </th>

                <th>
                  Status
                  <a href="javascript:" #p6="ngbPopover" [ngbPopover]="statusPopover" placement="bottom" [autoClose]="'outside'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Run date from
                  <a href="javascript:" #p7="ngbPopover" [ngbPopover]="fromDatePopover" placement="bottom" [autoClose]="'false'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Run date to
                  <a href="javascript:" #p8="ngbPopover" [ngbPopover]="toDatePopover" placement="bottom" [autoClose]="'false'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Gross cost
                  <a href="javascript:" #p9="ngbPopover" [ngbPopover]="grossAmountPopover" placement="bottom" [autoClose]="'false'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Net cost
                  <a href="javascript:" #p10="ngbPopover" [ngbPopover]="netAmountPopover" placement="bottom" [autoClose]="'false'">
                    <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                  </a>
                </th>

                <th>
                  Duplicate
                  <a class="tip" triggers="mouseenter:mouseleave" placement="bottom" ngbPopover="All Insertion Order will be copied as well.">(?)</a>
                </th>
              </tr>
            </thead>
          </table>
        </div>
      </div>
    </div>
  </div>
</form>

<form name="DuplicateIOModalForm">
  <div class="modal fade bs-example-modal-lg mampopup" id="duplicateIOModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-12">
                  <div class="cost-details">
                    <div class="buy-id pull-left">Advertiser
                      <span>{{advertiserName}}</span>
                    </div>
                    <div class="cost pull-right">
                      <div class="gross-cost pull-left" *ngIf="this.issueDateWiseOrder.length > 0">Buy id
                        <span>{{issueDateWiseOrder[0].BuyId}}</span>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="ClearFix"></div>
                <div class="col-sm-12">
                  <table class="table adjustment-table order-duplicate-table" id="dublicateOrderTable">
                    <thead>
                      <tr>
                        <th>
                          <input type="checkbox" class="checkall" [(ngModel)]="selectedAllDublicateOrders" (click)="toggleAll()" [ngModelOptions]="{standalone: true}"
                          />&nbsp; Include all
                        </th>
                        <th>Media asset</th>
                        <th>Issue date</th>
                        <th>Detail</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let mediaorder of this.issueDateWiseOrder">
                        <td>
                          <input type="checkbox" class="checkthis" id="{{mediaorder.MediaOrderId}}" [(ngModel)]="selectedIssueMediaOrder[mediaorder.MediaOrderId]"
                            (change)="chechboxChange(mediaorder,'checkBox')" [ngModelOptions]="{standalone: true}">
                        </td>
                        <td>{{mediaorder.MediaAssetName}}</td>
                        <td>
                          <ng-select class="full-width custom-select" [(ngModel)]="mediaorder.IssueDateId" placeholder="Select IssueDate" id="ddlIssueDate_{{mediaorder.MediaOrderId}}"
                            [items]="mediaorder.IssueDates" bindLabel="CoverDate" bindValue="IssueDateId" (change)="chechboxChange(mediaorder,'issueDate')"
                            style="width: 100%" [ngModelOptions]="{standalone: true}">
                          </ng-select>
                        </td>
                        <td>
                          {{mediaorder.AdTypeName}} | {{mediaorder.AdColorName}} | {{mediaorder.AdSizeName}} | {{mediaorder.FrequencyName}}
                        </td>
                      </tr>
                      <tr *ngIf="isShowDefaultTable == true">
                        <td colspan="11" class="setTextCenter">No record is found</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="cost-details" *ngIf="newBuyId != null">New buy ID
                    <span>{{newBuyId}}</span>
                  </div>
                </div>
                <div class="col-md-2 col-sm-2" style="text-align:center">
                  <button type="button" class="addRept" id="btnCopyBuy" (click)="addDuplicate();">Copy buy</button>
                </div>
                <div class="col-md-2 col-sm-2" style="text-align:center">
                  <button type="button" class="addRept" data-dismiss="modal" id="btnCancle">Cancel</button>
                </div>
                <div class="col-md-4"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>