  .noRecordFound {
    color: #7f8fa4;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
  }

  .setPointer {
    cursor: pointer;
  }

  .customInput {
    border: 0 !important;
    border-bottom: 2px solid #dfe2e5 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding: 5px 0 !important;
  }

  .select2-chosen {
    color: #323232;
  }

  ngb-popover-window
  {
    width: 150px !important;
  }