<div>
  <div class="cost-details">
    <div class="buy-id pull-left">Buy ID
      <span>{{production.buyId}}</span>
    </div>
    <div class="cost pull-right">
      <div class="gross-cost pull-left">Gross cost $
        <span>{{grossCost}}</span>
      </div>
      <div class="net-cost pull-left">Net cost $
        <span>{{netCost}}</span>
      </div>
    </div>
  </div>

  <div class="main-tab-content">
    <div class="tabContent" style="padding:15px;">
      <div class="tabContentArea">
        <div data-loading> </div>

        <div class="row">
          <div class="col-md-12">
            <div class="table-responsive custom-table production-detail-table">

              <table class="table" id="productionTable">
                <thead>
                  <tr>
                    <th></th>
                    <th>Media asset</th>
                    <th>Issue date</th>
                    <th>Likelihood (%)</th>
                    <th>Order status</th>
                    <th>Ad size</th>
                    <th>Rate card cost</th>
                    <th>Ad cost</th>
                    <th>Gross cost</th>
                    <th>Net cost</th>
                    <th>Ad color</th>
                    <th>Billing method</th>
                    <th>Frequency</th>
                    <th>Headline</th>
                    <th>Posted</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let production of issueDateWiseAdjustment">
                    <td>
                      <label class="checkbox-inline" style="margin-bottom:18px;">
                        <input type="checkbox" class="checkthis" id="{{production.MediaOrderId}}" [(ngModel)]="selectedIssueMediaOrder[production.MediaOrderId]"
                          (change)="checkboxChange(production)">
                      </label>
                    </td>
                     <td>{{production.MediaAssetName}}</td>
                      <td>{{production.IssueDate | date : "MM/dd/yyyy"}}</td>
                      <td>{{production.Likelihood}} </td>
                      <td>{{production.OrderStatus}}</td>
                      <td>{{production.AdSizeName}}</td>
                      <td>${{production.BaseRateCardCost  | number : '1.2-2'}}</td>
                      <td>${{production.RateCardCost | number:'1.2-2'}}</td>
                      <td>${{production.GrossCost | number:'1.2-2'}}</td>
                      <td>${{production.NetCost | number:'1.2-2'}}</td>
                      <td>{{production.AdColorName}}</td>
                      <td>{{production.MediaBillingMathodeName}}</td>
                      <td>{{production.FrequencyName}}</td>
                      <td>{{production.HeadLine}}</td>
                      <td *ngIf="production.IsFrozen">Yes</td>
                      <td *ngIf="!production.IsFrozen">No</td>
                    <td>
                      <a (click)="editMediaOrderMediaLinesbyMediaOrderId(production.MediaOrderId,production.IsFrozen);" style="cursor: pointer;" title="Edit" href="javascript:">
                        <img src="{{websiteRoot}}/{{imgurl}}/edit-icon.png" alt="" />
                      </a>
                      <a (click)="deleteMediaOrderMediaLinesbyMediaOrderId(production);" style="cursor: pointer;" title="Delete" href="javascript:"
                        style="width:30px;padding-left:10px;">
                        <img src="{{websiteRoot}}/{{imgurl}}/delete-icon.png" alt="" />
                      </a>
                    </td>
                  </tr>
                  <tr *ngIf="isShowDefaultTable == true">
                    <td colspan="11" class="setTextCenter">No record is found</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <form name="productionForm" [formGroup]="productionForm">
          <div class="row" [ngClass]="{'no-click':setProductionNoClick}">
            <div class="col-md-8 border-r">
              <div class="row">
                <div class="col-md-6 border-r">

                  <div class="form-group" style="margin-bottom: 5px;">
                    <label class="radio-inline">
                      <input type="radio" checked="true" formControlName="rdoNewPickUp" name="rdoNewPickUp" value="1"
                        [(ngModel)]="production.NewInd" (click)="setEnableOrDisable('1')"> New
                    </label>
                  </div>

                  <div class="col-md-12">
                    <label class="radio-inline">
                      <input type="radio" formControlName="rdoCreateExpected" name="rdoCreateExpected" value="1"
                        [(ngModel)]="production.CreateExpectedInd" (click)="setOnTNEnableOrDisabled('0')"> We create
                    </label>
                  </div>

                  <div class="col-md-6">
                    <label class="radio-inline">
                      <input type="radio" checked="true" formControlName="rdoCreateExpected" name="rdoCreateExpected"
                        value="0" [(ngModel)]="production.CreateExpectedInd" (click)="setOnTNEnableOrDisabled('1')"> Expected
                    </label>
                  </div>

                  <div class="col-md-6">
                    <label class="checkbox-inline">
                      <input type="checkbox" formControlName="OnHand" [(ngModel)]="production.OnHandInd"> On hand
                    </label>
                  </div>
                  <div class="expextedFields">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="">On</label>
                        <div class="input-group date">
                          <input type="text" formControlName="OnDate" [bsConfig]="{containerClass: 'theme-default' }"
                            class="form-control" id="txtOnDate" name="OnDate" [(ngModel)]="production.MaterialExpectedDate"
                            placeholder="Expected date" bsDatepicker >
                          <div class="input-group-addon">
                            <img src="{{websiteRoot}}/{{imgurl}}/calendar-icon-bw.png" alt="" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="">Tracking number</label>
                        <input type="text" formControlName="Tracking" class="form-control" id="" [(ngModel)]="production.TrackingNumber"
                          placeholder="Enter tracking number" numbersOnly>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-6">
                  <div class="form-group">
                    <label class="radio-inline">
                      <input type="radio" formControlName="rdoNewPickUp" name="rdoNewPickUp" value="0" [(ngModel)]="production.NewInd"
                        (click)="setEnableOrDisable('0')"> Pick-up
                    </label>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-bottom: 15px;">
                      <label class="checkbox-inline">
                        <input type="checkbox" formControlName="Changes" [(ngModel)]="production.ChangesInd" disabled>
                        Changes
                      </label>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group" style="margin-bottom: 5px;">
                      <label for="">From </label>
                      <div class="clearfix"></div>
                      <!-- -->
                      <!-- <ng-select  formControlName="ddlFrom" 
                        (change)="changeddlFrom()" placeholder="Media Asset | Issue Date | Pg#" [items]="mediaAssets" bindValue="MediaOrderId" 
                        bindLabel="MediaAssetIssueDate" id="ddlFrom" >
                      </ng-select> -->
                      <ng-select id="ddlFrom" formControlName="PickupMediaOrderId" placeholder="Media asset | Issue date | Page number" [items]="mediaAssetsList"
                      bindLabel="MediaAssetIssueDate" bindValue="MediaOrderId" (change)="changeddlFrom()">
                    </ng-select>
                    </div>
                  </div>
                </div>
              </div>

              <hr style="margin:10px 0;">

              <div class="col-md-12">
                <div class="form-group" style="margin-bottom: 5px; ">
                  <label for="" style="padding-right: 15px;">Contact</label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="billto1" name="billto1" (click)="setBillToContact(production.AdvertiserAgencyInd)"
                      [(ngModel)]="production.AdvertiserAgencyInd" value="1"> Advertiser
                  </label>
                  <label class="radio-inline">
                    <input type="radio" formControlName="billto1" name="billto1" (click)="setBillToContact(production.AdvertiserAgencyInd)"
                      [(ngModel)]="production.AdvertiserAgencyInd" value="0"> Agency
                  </label>
                </div>
              </div>
              <br>
              <div class="col-md-6">
                <div class="form-group" style="margin-bottom: 10px;">
                  <div class="clearfix"></div>
                  <ng-select [items]="billingToContacts" id="ddlContactProduction" placeholder="Production contact"
                  bindLabel="PersonName.FullName" bindValue="Id" formControlName="MaterialContactId" (change)="changeddlContactProduction()">
                </ng-select>
                </div>
              </div>
              <div class="col-md-6" style="margin-bottom: 10px; margin-top: -24px;">
                <div class="form-group">
                  <!--  -->
                  <label for="">Status</label>
                  <div class="clearfix"></div>
                  <div>
                    <ng-select id="ddlStatus" formControlName="ddlStatus" [(ngModel)]="productionStatusNew"
                    placeholder="Select Status" [items]="productionStatus"
                      bindLabel="Name"(change)="changeddlStatus()" >
                    </ng-select>

                  </div>
                </div>
              </div>

              <div class="clearfix"></div>

              <div class="col-md-6">
                <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                  <label for="">Orig. file</label>
                  <div class="input-group">

                    <input type="text" formControlName="OrigFileName" id="OrigFileName" name="filename" class="form-control"
                      placeholder="No file selected" [(ngModel)]="production.OrigFileName" readonly>
                    <span class="input-group-btn">
                      <span class="btn btn-default custom-file-uploader">
                        <input id="originalfile-upload" formControlName="OrigFileNameUpload" class="production-Logo"
                          type="file" (change)="uploadImage($event)" />
                        <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                      </span>
                      <span class="custom-file-uploader docs-buttons-originalFile" role="group">
                        <div class="btn-group d-flex" role="group">
                          <button type="button" id="originalImageButton" class="btn btn-primary" data-enable="modal"
                            data-method="show" title="Show the viewer" (click)="initImageViewerForOriginalFile()">
                            <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                          </button>
                        </div>
                      </span>
                      <div class="docs-pictures-originalFile clearfix" style="display:none;">
                        <span>
                          <img src="{{originalFileImageSrc}}" alt="No Image">
                        </span>
                      </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                  <label for="">Proof file</label>
                  <div class="input-group">
                    <input type="text" formControlName="ProofFileName" id="ProofFileName" name="filename" class="form-control"
                      placeholder="No file selected" [(ngModel)]="production.ProofFileName" readonly>
                    <span class="input-group-btn">
                      <span class="btn btn-default  custom-file-uploader">
                        <input id="prooffile-upload" formControlName="ProofFileNameUpload" class="production-Logo" type="file"
                          (change)="uploadImageforProof($event)" />
                        <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                      </span>
                      <span class="custom-file-uploader docs-buttons-proofFile" role="group">
                        <div class="btn-group d-flex" role="group">
                          <button type="button" id="proofImageButton" class="btn btn-primary" data-enable="modal"
                            data-method="show" title="Show the viewer" (click)="initImageViewerForProofFile()">
                            <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                          </button>
                        </div>
                      </span>
                      <div class="docs-pictures-proofFile clearfix" style="display:none;">
                        <span>
                          <img src="{{proofFileImageSrc}}" alt="No image">
                        </span>
                      </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                  <label for="">Final file</label>
                  <div class="input-group">
                    <input type="text" formControlName="FinalFileName" id="FinalFileName" name="filename" class="form-control"
                      placeholder="No file selected" [(ngModel)]="production.FinalFileName" readonly>
                    <span class="input-group-btn">
                      <span class="btn btn-default  custom-file-uploader">
                        <input id="finalfile-upload" formControlName="FinalFileNameUpload" class="production-Logo" type="file"
                          (change)="uploadImageforfinal($event)" />
                        <img src="{{websiteRoot}}/{{imgurl}}/browse-file.png" alt="">
                      </span>
                      <span class="custom-file-uploader docs-buttons-finalFile" role="group">
                        <div class="btn-group d-flex" role="group">
                          <button type="button" id="finalImageButton" class="btn btn-primary" data-enable="modal"
                            data-method="show" title="Show the viewer" (click)="initImageViewerForFinalFile()">
                            <img src="{{websiteRoot}}/{{imgurl}}/view-file.png">
                          </button>
                        </div>
                      </span>
                      <div class="docs-pictures-finalFile clearfix" style="display:none;">
                        <span>
                          <img src="{{finalFileImageSrc}}" alt="No image">
                        </span>
                      </div>
                    </span>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <!---->
                <div class="form-group custom-uploader" style="margin-bottom: 10px;">
                  <label for="">Web ad URL</label>
                  <div class="input-group">
                    <input type="url" name="webAdUrl" formControlName="WebAdUrl" class="form-control" [(ngModel)]="production.WebAdUrl"
                      placeholder="Paste link">
                    <span class="input-group-btn">
                      <a href="{{production.WebAdUrl}}" target="_blank">
                        <div class="btn btn-default open-link custom-file-uploader">
                          <img src="{{websiteRoot}}/{{imgurl}}/open-link.png" alt="">
                        </div>
                      </a>
                    </span>
                  </div>
                  <div *ngIf="productionForm.controls['WebAdUrl'].invalid" style="color:red">
                    Invalid URL
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-4 paddl-30">

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Headline</label>
                <input type="text" formControlName="txtHeadLine" class="form-control" id="txtHeadLine" [(ngModel)]="production.HeadLine"
                  placeholder="Enter headline">
              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Tear sheet</label>
                <input type="text" formControlName="txtTearSheet" class="form-control" id="txtTearSheet" [(ngModel)]="production.TearSheets"
                  placeholder="Enter tear sheet" numbersOnly>
              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Page number</label>
                <input type="text" formControlName="txtPgNo" class="form-control" id="txtPgNo" [(ngModel)]="production.PageNumber"
                  placeholder="Enter page number" numbersOnly>
              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Separation</label>
                <div class="clearfix"></div>

                <ng-select class="full-width custom-select" [(ngModel)]="separation" (change)="changeddlSeparation()"
                  placeholder="Select separation" [items]="separations" formControlName="ddlSeparation" bindLabel="Name"
                  style="width: 100%" id="ddlSeparation">
                </ng-select>

              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Position</label>
                <div class="clearfix"></div>

                <ng-select class="full-width custom-select" [(ngModel)]="position" (change)="changeddlPosition()"
                placeholder="Select position" [items]="positions" formControlName="ddlPosition" bindLabel="Name"
                style="width: 100%" id="ddlPosition">
              </ng-select>
              </div>

              <div class="form-group" style="margin-bottom: 10px;">
                <label for="">Comments</label>
                <div class="clearfix"></div>
                <textarea class="form-control" rows="2" formControlName="ProductionComment" [(ngModel)]="production.ProductionComment"
                  placeholder="Write your comments"></textarea>
              </div>
            </div>
          </div>
        </form>
        <br>

        <div class="row">
          <div class="col-md-12">
            <div class="col-md-7">
              <div class="form-group pull-left">
                <button type="button" class="createBtn orangeBtn" id="btnOrders" (click)="goToPreviousTab();">Previous</button>
              </div>

              <div class="form-group pull-right" [ngClass]="{'no-click':setProductionNoClick}">
                <button type="button" class="blueBtn createBtn" (click)="save(production)">{{buttonText}}</button>
              </div>
            </div>

            <div class="col-md-5">
              <div class="form-group pull-right">
                <button type="button" class="blueBtn createBtn" (click)="finishNExit();">Finish & Exit</button>&nbsp;
                <button type="button" class="blueBtn createBtn" (click)="finishNCreate();">Finish & Create</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>