<div class="step-wizard order-management-content">

  <ul class="nav nav-tabs responsive-tabs" data-tabs="tabs">

    <li role="presentation" [ngClass]="{'active': orderFormTab, 'no-click': orderFormDisable, 'setPointer': setCursorPointer}">
      <a id="orders-tab" (click)="setOrdersTabActive()" data-target="#orders" data-toggle="tab">
        Step 1 Billing Details
      </a>
    </li>

    <li role="presentation" [ngClass]="{'active':  mediaScheduleTab, 'no-click': mediaScheduleDisable, 'setPointer': setCursorPointer}">
      <a id="media-schedule-tab" (click)="setMediaScheduleTabActive()" data-target="#media-schedule"
        data-toggle="tab">
        Step 2 Media Schedule
      </a>
    </li>

    <li role="presentation" [ngClass]="{'active': adjustmentTab, 'no-click': adjustmentDisable, 'setPointer': setCursorPointer}">
      <a id="adjustment-tab" (click)="setAdjustmentTabActive()" data-target="#adjustment" data-toggle="tab">
        Step 3 Adjustments
      </a>
    </li>

    <li role="presentation" [ngClass]="{'active': productionTab, 'no-click': productionDisable, 'setPointer': setCursorPointer}">
      <a id="production-tab" (click)="setProductionTabActive()" data-target="#production" data-toggle="tab">
        Step 4 Production Details
      </a>
    </li>
  </ul>
  <div class="tab-content">
    <div *ngIf="orderFormTab==true" class="tab-pane in" [class.active]="orderFormTab==true" id="orders">
      <asi-orders></asi-orders>
    </div>

    <div *ngIf="mediaScheduleTab==true" class="tab-pane in" [class.active]="mediaScheduleTab==true" id="media-schedule">
      <asi-mediaScheduleNew></asi-mediaScheduleNew>
    </div>

    <div *ngIf="adjustmentTab==true" class="tab-pane in" [class.active]="adjustmentTab==true" id="adjustment">
      <asi-adjustment></asi-adjustment>
    </div>

    <div *ngIf="productionTab==true" class="tab-pane in" [class.active]="productionTab==true" id="production">
      <asi-production></asi-production>
    </div>
  </div>

</div>