<div class="row">

    <div *ngIf="isLoading" class="loading-spiner">
        <img class="progressP" src="{{websiteRoot}}/{{imgurl}}/loader-elipses.gif" />
    </div>

    <div class="col-sm-12">
        <h2 class="mamTitle">
            <img class="mamTitleImg" src="{{websiteRoot}}/{{imgurl}}/mam-icon.png" alt="" />
            Media orders management
        </h2>
        <div class="">

            <!-- Main Page Division -->
            <div *ngIf="showMainPage">
                <div class="row">
                    <div class="col-md-12" style="text-align:right;">
                        <button type="button" class="createBtn orangeBtn" id="btnCreateNewOrders" (click)="redirectToMediaOrder()">
                            Create Orders
                        </button>
                    </div>
                </div>
                <div class="tabs-main-container">
                    <ul class="nav nav-tabs" id="myTabs" role="tablist">

                        <li role="presentation" class="liTabPointer" [ngClass]="{'active':advertisersTab,  'noclick':AdvertisersDisable}">
                            <a (click)="setAdvertisersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">
                                Advertisers
                            </a>
                        </li>

                        <li role="presentation" class="liTabPointer" [ngClass]="{'active':ordersTab,  'noclick':OrdersDisable}">
                            <a (click)="setOrdersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">
                                Orders
                            </a>
                        </li>

                        <li role="presentation" class="liTabPointer" [ngClass]="{'active':postOrdersTab,  'noclick':PostOrdersDisable}">
                            <a (click)="setPostOrdersTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">
                                Post orders
                            </a>
                        </li>

                        <li role="presentation" class="liTabPointer" [ngClass]="{'active':missingMaterialsTab,  'noclick':MissingMaterialsDisable}">
                            <a (click)="setMissingMaterialsTabActive()" role="tab" data-toggle="tab" aria-controls="dashboard">
                                Missing materials
                            </a>
                        </li>

                    </ul>

                    <div class="tab-content">

                        <div *ngIf="advertisersTab==true" class="tab-pane in" [class.active]="advertisersTab==true" id="advertisers"
                            aria-labelledby="advertisers-tab">
                            <asi-dashboard-advertisers></asi-dashboard-advertisers>
                        </div>

                        <div *ngIf="ordersTab==true" class="tab-pane in" [class.active]="ordersTab==true" id="orders"
                            aria-labelledby="orders-tab">
                            <asi-dashboard-orders></asi-dashboard-orders>
                        </div>

                        <div *ngIf="postOrdersTab==true" class="tab-pane in" [class.active]="postOrdersTab==true" id="postorders">
                            <asi-PostOrders></asi-PostOrders>
                        </div>

                        <div *ngIf="missingMaterialsTab==true" class="tab-pane in" [class.active]="missingMaterialsTab==true"
                            id="missingmaterials">
                            <asi-MissingMaterials></asi-MissingMaterials>
                        </div>

                    </div>

                </div>
            </div>

            <!-- Order Form Page Division -->
            <div *ngIf="showOrderFormPage">
                <asi-orderTab></asi-orderTab>
            </div>

        </div>
    </div>
</div>