<!--Advertiser-->
<ng-template #advertiserPopover>
  <div class="triangle"> </div>
  <div class="" style="width:100%">
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p1);" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' id="cboFilterType" (change)="onChangeAdvertiserFilter($event.target.value)">
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
        <!-- <option value='All'>All</option> -->
      </select>
    </div>
    <div class="form-group" id="divAdvertiserFilter">
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="txtAdvertiserFilterValue" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)="applyAdvertiserFilter(p1)">Apply</button>
    <button type='button' class='resetBtn pull-right' (click)="clearAdvertiserFilter()">Clear Filter</button>
  </div>
</ng-template>
<!-- Agency -->
<ng-template #agencyPopover>
  <div class="triangle"> </div>
  <div class="" style="width:100%;">
    <div class="form-group">
      <button type="button" (click)="setClearAllSearchFields(p2);" class="close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="form-group">
      <label>Type</label>
      <select class='form-control customInput' style='width: 100%;' id="cboAgencyFilterType" (change)="onChangeAgencyFilter($event.target.value)">
        <option value='Equals'>Equals</option>
        <option value='Contains'>Contains</option>
        <option value='StartsWith'>StartsWith</option>
        <option value='EndsWith'>EndsWith</option>
        <!-- <option value='All'>All</option> -->
      </select>
    </div>
    <div class="form-group" id="divAgencyFilter">
      <label>Value</label>
      <br>
      <input type='text' class='form-control customInput' id="txtAgencyFilterValue" style='text-align: left;max-width: 100%;width: 100%;'>
    </div>
    <button type='button' class='blueBtn' (click)="applyAgencyFilter(p2)">Apply</button>
    <button type='button' class='resetBtn pull-right' (click)="clearAgencyFilter()">Clear Filter</button>
  </div>
</ng-template>
<div>
  <form id="orderForm" [formGroup]="orderForm">
    <div class="cost-details">
      <div class="buy-id pull-left">Buy ID <span>{{adOrderId}}</span></div>
      <div class="cost pull-right">
        <div class="gross-cost pull-left">Gross cost $<span>{{orderGrossCost}}</span></div>
        <div class="net-cost pull-left">Net cost $<span>{{orderNetCost}}</span></div>
      </div>
    </div>
    <div class="main-tab-content">
      <div class="tabContent">
        <div class="tabContentArea" style="padding-top:0px;">
          <div class="row" [ngClass]="{'no-click': isFrozen}">
            <div class="col-md-6  border-r">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="txtCampaignName">Campaign name</label>
                    <input type="text" name="CampaignName" class="form-control" id="txtCampaignName" formControlName="CampaignName"
                      placeholder="Enter campaign name">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <a href="javascript:" #p1="ngbPopover" [ngbPopover]="advertiserPopover" placement="bottom" [autoClose]="'outside'" class="add-link" id="ancAdvertiserFilter">
                      <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                    </a>
                    <a style="cursor: pointer;" class="add-link" data-toggle="modal" (click)="initAdvertiserPopup()"
                      data-target="#advertiserModal">
                      <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                    </a>
                    <label for="Advertiser">Advertiser <span class="mendatory">*</span></label>
                    <div class="clearfix"></div>
                    <ng-select [items]="advertisers" id="ddlAdverdtiser" placeholder="Select advertiser" bindLabel="OrganizationName"
                      bindValue="Id" formControlName="Advertiser" (change)="changeAdvertiser('advertiser')">
                    </ng-select>
                    <div *ngIf="isValidAdvertiser"
                      class="text-danger">
                      <span *ngIf="orderForm.controls['Advertiser'].hasError('required') ">
                        Advertiser is required.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <a href="javascript:" #p2="ngbPopover" [ngbPopover]="agencyPopover" placement="bottom" [autoClose]="'outside'" class="add-link" id="ancAgencyFilter">
                      <img src="{{websiteRoot}}/{{imgurl}}/filter-icon.png" alt="" />
                    </a>
                    <a href="javascript:void(0);" class="add-link" (click)="initAgencyPopup()" data-toggle="modal"
                      data-target="#agencyModal">
                      <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                    </a>
                    <label for="Agency">Agency <span class="mendatory" *ngIf="isRequired">*</span></label>
                    <div class="clearfix"></div>
                    <ng-select [items]="agencies" id="ddlAgency" placeholder="Select agency" bindLabel="OrganizationName"
                      bindValue="Id" formControlName="Agency" (change)="changeAgency('agency')">
                    </ng-select>
                    <div *ngIf="isShowAgencyRequiredMsg" class="text-danger">
                        Agency is required.
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <div><label for="billto">Bill to</label></div>
                    <label class="radio-inline">
                      <input type="radio" name="BillTo" id="rdoAdvertiser" formControlName="BillTo" value="0" (change)="setContactEnableOrDisable('billto')">Advertiser
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="BillTo" id="rdoAgency" formControlName="BillTo" value="1" (change)="setContactEnableOrDisable('billto')">Agency
                    </label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                      <a href="javascript:void(0);" class="add-link"
                       (click)="initContactPopup()" data-toggle="modal"
                      data-target="#contactModal">
                      <img src="{{websiteRoot}}/{{imgurl}}/add-icon.png" alt="" />
                    </a>
                    <label for="BillToContact">Bill to contact <span class="mendatory">*</span></label>
                    <div class="clearfix"></div>
                    <ng-select [items]="billingToContacts" id="ddlContact" placeholder="Bill to contact"
                      bindLabel="PersonName.FullName" bindValue="Id" formControlName="BillingContacts" (change)="changeContact()">
                    </ng-select>
                    <div *ngIf="isValidBillingContacts"
                      class="text-danger">
                      <span *ngIf="orderForm.controls['BillingContacts'].hasError('required') ">
                        Contact is required.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="billingAddress">
                    <strong>Address </strong>
                    <span id="addStreet" [innerHTML]="addStreetHTML | safe: 'html'"></span>
                    <span *ngIf="addStreetHTML">
                      <span style="margin-left:65px" *ngIf="isShowCity==true">{{partyCity}}{{partyState}}{{partyPostalCode}}<br /></span>
                      <!-- <span style="margin-left:65px" *ngIf="isShowState==true">{{partyState}}<br /></span>
                      <span style="margin-left:65px" *ngIf="isShowPostalCode==true">{{partyPostalCode}}<br /></span> -->
                      <span style="margin-left:65px" *ngIf="isShowCountry==true">{{partyCountry}}<br /></span>
                    </span>

                    <span *ngIf="addStreetHTML == ''">
                      <span *ngIf="isShowCity==true">{{partyCity}}{{partyState}}{{partyPostalCode}}<br /></span>
                      <!-- <span *ngIf="isShowState==true">{{partyState}}<br /></span>
                      <span *ngIf="isShowPostalCode==true">{{partyPostalCode}}<br /></span> -->
                      <span *ngIf="isShowCountry==true">{{partyCountry}}<br /></span>
                    </span>                                                           
                    <hr>
                    <div class="row">
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <strong>Mobile</strong> {{partyMobile}}<br>
                        <strong>Work</strong> {{partyWork}}<br>
                   <!--     <strong>Home: </strong>-->
                      </div>
                      <div class="col-md-6 col-sm-6 col-xs-12">
                        <strong>Member type </strong>{{partyMemberType}}<br>
                        <strong>Email address </strong>{{partyEmail}}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <form id="ordersFormReps" [formGroup]="ordersFormReps">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="Reps">Reps <span class="mendatory">*</span></label>
                      <div class="clearfix"></div>
                      <ng-select [items]="reps" id="ddlReps" placeholder="Select reps" bindLabel="Name" bindValue="RepId"
                        formControlName="SelectedReps" (change)="changeReps()">
                      </ng-select>
                      <div *ngIf="isValidSelectedReps"
                        class="text-danger">
                        <span *ngIf="ordersFormReps.controls['SelectedReps'].hasError('required') ">
                          Reps is required.
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="Territories">Territories <span class="mendatory">*</span></label>
                      <div class="clearfix"></div>
                      <ng-select [items]="territories" id="ddlTerritories" placeholder="Select territories" bindLabel="TerritoryName"
                        bindValue="TerritoryId" formControlName="SelectedTerritories" (change)="changeTerritory()">
                      </ng-select>
                      <div *ngIf="isValidSelectedTerritories"
                        class="text-danger">
                        <span *ngIf="ordersFormReps.controls['SelectedTerritories'].hasError('required') ">
                          Territories is required.
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-2" style="text-align:right;">
                    <br />
                    <button type="button" class="blueBtn" id="btnrepsTerritories" (click)="addRepsTerritories()">Add</button>
                  </div>
                  <br>
                  <div class="clearfix"></div>
                  <div class="reptDataBlocks" id="dvGroup">
                    <div class="col-md-4" id="{{item.id}}" *ngFor="let item of dvGroupHTMLArr">
                      <div class="reptDataBlockItem">
                        <div class="rep-ter">{{item.reps_territoryName}}</div>
                        <div class="commission">({{item.Commission}} % comm.)</div>
                        <div class="form-group">
                          <div class="input-group">
                            <input type="text" class="form-control" id="{{item.textboxid}}" value="{{item.repsTerrBlockTextVal}}" numbersWithDecimal>
                            <div class="input-group-addon">%</div>
                          </div>
                        </div>
                        <a style="cursor: pointer;" (click)="removeRepsTerritories(item.id, item.territoryId, item.repsId)"
                          class="deleteBlock">-</a>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>
          <div class="row">
          <div class="col-md-12">
            <div class="text-right">
              <button type="button" class="createBtn blueBtn" id="btnCancel" (click)="onCancelOrder()">
                Cancel
              </button>&nbsp;
              <button type="button" class="createBtn orangeBtn" id="btnOrders" (click)="saveOrders()">
                Next
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!------------------ Advertiser Modal ---------------->
  <form id="advertiserModalForm" [formGroup]="advertiserModalForm">
    <div class="modal fade bs-example-modal-md mampopup" id="advertiserModal" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                  <a href="javascript:void(0);">
                    <h6>Add advertiser</h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-group10">
                  <label for="Organization">Account type organization</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Organization">Advertiser <span class="mendatory">*</span></label>
                  <span class="input-container">
                    <input type="text" formControlName="Organization" name="Organization" class="form-control" id="txtOrganization"
                      placeholder="Enter organization">
                  </span>
                  <div *ngIf="isValidOrganization"
                    class="text-danger">
                    <span *ngIf="advertiserModalForm.controls['Organization'].hasError('required') ">
                      Organization is required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Email">Email address <span class="mendatory">*</span></label>
                  <span class="input-container">
                    <input type="text" formControlName="Email" name="Email" class="form-control" id="txtEmail"
                      placeholder="Enter email address">
                  </span>
                  <div *ngIf="isValidEmail"
                    class="text-danger">
                    <span *ngIf="advertiserModalForm.controls['Email'].hasError('required')">
                      Email address is required.
                    </span>
                    <span class="text-danger" *ngIf="advertiserModalForm.controls['Email'].hasError('pattern')">
                      <i class="icon-cancel-circle2 position-left"></i> Not a valid email.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Address">Street line 1 </label>
                  <span class="input-container">
                    <input type="text" formControlName="Address" name="Address" class="form-control" id="txtAddress"
                      placeholder="Enter street line 1">
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Address">Street line 2 </label>
                  <span class="input-container">
                    <input type="text" formControlName="StreetLine2" name="StreetLine2" class="form-control" id="txtAddress1"
                      placeholder="Enter street line 2">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="City" class="">City </label>
                  <span class="input-container">
                    <input type="text" formControlName="City" name="City" class="form-control" id="txtCity" placeholder="Enter city">
                  </span>
                </div>
              </div>
              <div *ngIf="isStatehave == true" class="col-md-4">
                <div class="form-group form-group10">
                  <label for="State" class="">{{SubEntityNameCaption}} </label>
                  <div class="clearfix"></div>
                  <ng-select [items]="states" id="ddlState" placeholder="Select state" bindLabel="Name" bindValue="Code"
                    formControlName="State" (change)="onStateChange_Advertiser()">
                  </ng-select>
                </div>
              </div>
              <div *ngIf="isStatehave == false" class="col-md-4">
                <div class="form-group form-group10">
                  <label for="State" class="">{{SubEntityNameCaption}} </label>
                  <span class="input-container">
                    <input type="text" formControlName="State" name="State" class="form-control" id="txtState"
                      placeholder="Enter State">
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="PostalCode" class="">Postal code </label>
                  <span class="input-container">
                    <input type="text" formControlName="PostalCode" name="PostalCode" class="form-control" id="txtPostalCode"
                      placeholder="Enter postal code">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Country" class="">Country </label>
                  <div class="clearfix"></div>
                  <ng-select [items]="countries" id="ddlCountry" placeholder="Select country" bindLabel="CountryName"
                    bindValue="CountryCode" formControlName="CountryCode" (change)="onCountryChange()">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="MemberType" class="">Customer type <span class="mendatory">*</span></label>
                  <div class="clearfix"></div>
                  <ng-select name="MemberType" id="ddlMembeType" class="full-width" formControlName="MemberType"
                    placeholder="Select customer type" (change)="onCustomerTypeChange_Advertiser()">
                    <ng-option value="">Select customer type</ng-option>
                    <ng-option value="non member">Non member</ng-option>
                  </ng-select>
                  <div *ngIf="isValidMemberType"
                    class="text-danger">
                    <span *ngIf="advertiserModalForm.controls['MemberType'].hasError('required') ">
                      Customer type is required.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Home" class="">Home </label>
                  <span class="input-container">
                    <input type="text" formControlName="Home" name="Home" maxlength="15" class="form-control" id="txtHome"
                      placeholder="Enter Home No." numbersOnly>
                  </span>
                </div>
              </div> -->
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Mobile" class="">Mobile </label>
                  <span class="input-container">
                    <input type="text" formControlName="Mobile" name="Mobile" maxlength="15" class="form-control" id="txtMobile"
                      placeholder="Enter mobile no." numbersOnly>
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Work" class="">Work </label>
                  <span class="input-container">
                    <input type="text" formControlName="Work" name="Work" maxlength="15" class="form-control" id="txtWork"
                      placeholder="Enter work no." numbersOnly>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnadvertiser" class="blueBtn" (click)="saveAdvertiser()">Add
              Advertiser</button>
            <button type="button" class="blueBtn" data-dismiss="modal" (click)="cancelAdvertiser()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>


  <!--------------------- Agency Modal ------------------>
  <form id="agencyModalForm" [formGroup]="agencyModalForm">
    <div class="modal fade bs-example-modal-md mampopup" id="agencyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                  <a href="javascript:void(0);">
                    <h6>Add agency</h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-group10">
                  <label for="Organization">Account type organization</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Organization">Agency <span class="mendatory">*</span></label>
                  <span class="input-container">
                    <input type="text" formControlName="Organization" name="Organization" class="form-control" id="txtOrganization"
                      placeholder="Enter agency">
                  </span>
                  <div *ngIf="isValidAOrganization"
                    class="text-danger">
                    <span *ngIf="agencyModalForm.controls['Organization'].hasError('required') ">
                      Agency is required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Email" class="">Email address <span class="mendatory">*</span></label>
                  <span class="input-container">
                    <input formControlName="Email" name="Email" type="text" class="form-control" id="txtEmail"
                      placeholder="Enter email address">
                  </span>
                  <div *ngIf="isValidAEmail"
                    class="text-danger">
                    <span *ngIf="agencyModalForm.controls['Email'].hasError('required')">
                      Email address is required.
                    </span>
                    <span class="text-danger" *ngIf="agencyModalForm.controls['Email'].hasError('pattern')">
                      <i class="icon-cancel-circle2 position-left"></i> Not a valid email.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Address" class="">Street line 1 </label>
                  <span class="input-container">
                    <input formControlName="Address" name="Address" type="text" class="form-control" id="txtAddress"
                      placeholder="Enter street line 1">
                  </span>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="StreetLine2" class="">Street line 2 </label>
                  <span class="input-container">
                    <input formControlName="StreetLine2" name="StreetLine2" type="text" class="form-control" id="txtStreetLine2"
                      placeholder="Enter street line 2">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="City" class="">City </label>
                  <span class="input-container">
                    <input formControlName="City" name="City" type="text" class="form-control" id="txtCity" placeholder="Enter city">
                  </span>
                </div>
              </div>
              <div *ngIf="isStatehave_Agency == true" class="col-md-4">
                <div class="form-group form-group10">
                  <label for="State" class="">{{SubEntityNameCaption_Agency}} </label>
                  <div class="clearfix"></div>
                  <ng-select [items]="states" id="ddlState_Agency" placeholder="Select state" bindLabel="Name"
                    bindValue="Code" formControlName="State" (change)="onStateChange_Agency()">
                  </ng-select>
                </div>
              </div>
              <div *ngIf="isStatehave_Agency == false" class="col-md-4">
                <div class="form-group form-group10">
                  <label for="State" class="">{{SubEntityNameCaption_Agency}} </label>
                  <span class="input-container">
                    <input formControlName="State" name="State" type="text" class="form-control" id="txtState_Agency"
                      placeholder="Enter state">
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="PostalCode" class="">Postal code </label>
                  <span class="input-container">
                    <input formControlName="PostalCode" name="PostalCode" type="text" class="form-control" id="txtPostalCode"
                      placeholder="Enter postal code">
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="Country" class="">Country </label>
                  <div class="clearfix"></div>
                  <ng-select [items]="countries" id="ddlCountry_Agency" placeholder="Select country" bindLabel="CountryName"
                    bindValue="CountryCode" formControlName="CountryCode" (change)="onCountryChange_Agency()">
                  </ng-select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group form-group10">
                  <label for="MemberType" class="">Customer type <span class="mendatory">*</span></label>
                  <div class="clearfix"></div>
                  <ng-select name="MemberType" id="ddlMembeType_Agency" class="full-width" formControlName="MemberType"
                    placeholder="Select customer type" (change)="onCustomerTypeChange_Aency()">
                    <ng-option value="">Select customer type</ng-option>
                    <ng-option value="non member">Non member</ng-option>
                  </ng-select>
                  <div *ngIf="isValidAMemberType"
                    class="text-danger">
                    <span *ngIf="agencyModalForm.controls['MemberType'].hasError('required') ">
                      Customer type is required.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <!-- <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Home" class="">Home </label>
                  <span class="input-container">
                    <input formControlName="Home" name="Home" type="text" maxlength="15" class="form-control" id="txtHome"
                      placeholder="Enter Home No." numbersOnly>
                  </span>
                </div>
              </div> -->
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Mobile" class="">Mobile </label>
                  <span class="input-container">
                    <input formControlName="Mobile" name="Mobile" type="text" maxlength="15" class="form-control" id="txtMobile"
                      placeholder="Enter mobile no." numbersOnly>
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Work" class="">Work </label>
                  <span class="input-container">
                    <input formControlName="Work" name="Work" type="text" maxlength="15" class="form-control" id="txtWork"
                      placeholder="Enter work no." numbersOnly>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btnagency" class="blueBtn" (click)="saveAgency()">Add Agency</button>
            <button type="button" class="blueBtn" data-dismiss="modal" (click)="cancelAgency()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <!--------------------- Contact Modal ------------------>
  <form id="contactModalForm" [formGroup]="contactModalForm">
    <div class="modal fade bs-example-modal-md mampopup" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">
                <div class="tabContentHeaderTitle form-group form-group10" style="margin-bottom:10px;">
                  <a href="javascript:void(0);">
                    <h6>Add billing contact</h6>
                  </a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-group10">
                  <label for="accountType">Account type individual</label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group form-group10">
                  <div> <label for="organisation" style="padding-right:2px;">Organisation name </label><label>{{selectedPartyOrganisationName}}</label></div>
                  <div>
                    <span style="color:#999999;">
                      <div class="row">
                        <div class="col-md-12">
                          <div style="text-align:left;">
                            <strong>Address </strong>
                            <span id="addStreet" [innerHTML]="BTCaddStreetHTML | safe: 'html'"></span>
                            <span *ngIf="BTCaddStreetHTML">
                              <span style="margin-left:65px" *ngIf="isBTCShowCity==true">{{BTCpartyCity}}{{BTCpartyState}}{{BTCpartyPostalCode}}</span>
                              <span style="margin-left:2px" *ngIf="isBTCShowCountry==true">,{{BTCpartyCountry}}</span>
                            </span>
                            <span *ngIf="BTCaddStreetHTML == ''">
                              <span *ngIf="isBTCShowCity==true">{{BTCpartyCity}}{{BTCpartyState}}{{BTCpartyPostalCode}}</span>
                              <span *ngIf="isShowCountry==true">{{BTCpartyCountry}}</span>
                            </span>                                                           
                            </div>
                          </div>
                        </div>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="FirstName" class="">First name <span class="mendatory">*</span></label>
                  <input formControlName="FirstName" name="FirstName" type="text" class="form-control" id="txtFirstName"
                    placeholder="Enter first name">
                  <div *ngIf="isValidFirstName"
                    class="text-danger">
                    <span *ngIf="contactModalForm.controls['FirstName'].hasError('required') ">
                      First name is required.
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="MiddleName">Middle name</label>
                  <input formControlName="MiddleName" name="MiddleName" type="text" class="form-control" id="txtMiddleName"
                    placeholder="Enter middle name">
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="LastName" class="">Last name <span class="mendatory">*</span></label>
                  <input formControlName="LastName" name="LastName" type="text" class="form-control" id="txtLastName"
                    placeholder="Enter last name">
                  <div *ngIf="isValidLastName"
                    class="text-danger">
                    <span *ngIf="contactModalForm.controls['LastName'].hasError('required') ">
                      Last name is required.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" ng-hide="contactSameAaAbove">
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Mobile" class="">Mobile </label>
                  <div class="clearfix"></div>
                  <input formControlName="Mobile" name="Mobile" maxlength="15" type="text" class="form-control" id="Text4"
                    placeholder="Enter mobile" numbersOnly>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group form-group10">
                  <label for="Email">Email<span class="mendatory">*</span></label>
                  <span class="input-container">
                    <input formControlName="Email" name="Email" type="text" class="form-control" id="txtEmail"
                      placeholder="Enter email address">
                  </span>
                  <div *ngIf="isValidConEmail"
                    class="text-danger">
                    <span *ngIf="contactModalForm.controls['Email'].hasError('required')">
                      Email address is required.
                    </span>
                    <span class="text-danger" *ngIf="contactModalForm.controls['Email'].hasError('pattern')">
                      <i class="icon-cancel-circle2 position-left"></i> Not a valid email.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" id="btncontact" class="blueBtn" (click)="saveContact()">Add Contact</button>
            <button type="button" class="blueBtn" data-dismiss="modal" (click)="cancelContact()">Cancel</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
