.select2-choices {
    border-radius: 4px;
}

.setTextCenter {
    text-align: center;
}

.select2-search-choice {
    border: none !important;
    background: #dfe2e5 !important;
    color: #354052 !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    /*border-radius: 4px !important;*/
    cursor: default !important;
    margin-top: 5px !important;
}

.select2-choice {
    display: block !important;
    width: 100% !important;
    height: 34px !important;
    padding: 6px 12px !important;
    font-size: 14px !important;
    line-height: 1.42857143 !important;
    color: #555 !important;
    background-color: #fff !important;
    background-image: none !important;
    /*border: 1px solid #ccc !important;
    border-radius: 4px !important;*/
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s !important;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s !important;
    border: none !important;
    border-bottom: 2px solid #dfe2e5 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    padding-left: 0px !important;
}

.select2-arrow {
    background: no-repeat !important;
    border-left: 0px !important;
}

.no-click {
    pointer-events: none;
    cursor: default;
}

.select2-chosen {
    color: #999999;
}