/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";



.ngx-pagination li.current {
  border-radius: 50px;
}

.ngx-pagination li {
  border-radius: 50px;
}

.ngx-pagination li :hover{
  border-radius: 50px;
}

.ngx-pagination li a {
  border-radius: 50px;
} 

#pagination .previous.disabled, #pagination .next.disabled { display:none; }

.ngx-pagination .pagination-previous a::before,
.ngx-pagination .pagination-previous.disabled::before,
.ngx-pagination .pagination-next a::after,
.ngx-pagination .pagination-next.disabled::after { 
  content: '' !important; }
