<div>
  <div class="tab-pane fade in active" role="tabpanel" id="advertisers" aria-labelledby="advertisers-tab">

    <div class="row">
      <div class="col-md-9">
        <div class="quick-jump">
          <span class="jump-label">QUICK JUMP </span>
          <div class="jump-letters">
            <a (click)="filterDataAlphabetsWise('A')" title="Quick jump to last initial A" class="jump-letter" tabindex="0">A</a>
            <a (click)="filterDataAlphabetsWise('B')" title="Quick jump to last initial B" class="jump-letter" tabindex="0">B</a>
            <a (click)="filterDataAlphabetsWise('C')" title="Quick jump to last initial C" class="jump-letter" tabindex="0">C</a>
            <a (click)="filterDataAlphabetsWise('D')" title="Quick jump to last initial D" class="jump-letter" tabindex="0">D</a>
            <a (click)="filterDataAlphabetsWise('E')" title="Quick jump to last initial E" class="jump-letter" tabindex="0">E</a>
            <a (click)="filterDataAlphabetsWise('F')" title="Quick jump to last initial F" class="jump-letter" tabindex="0">F</a>
            <a (click)="filterDataAlphabetsWise('G')" title="Quick jump to last initial G" class="jump-letter" tabindex="0">G</a>
            <a (click)="filterDataAlphabetsWise('H')" title="Quick jump to last initial H" class="jump-letter" tabindex="0">H</a>
            <a (click)="filterDataAlphabetsWise('I')" title="Quick jump to last initial I" class="jump-letter" tabindex="0">I</a>
            <a (click)="filterDataAlphabetsWise('J')" title="Quick jump to last initial J" class="jump-letter" tabindex="0">J</a>
            <a (click)="filterDataAlphabetsWise('K')" title="Quick jump to last initial K" class="jump-letter" tabindex="0">K</a>
            <a (click)="filterDataAlphabetsWise('L')" title="Quick jump to last initial L" class="jump-letter" tabindex="0">L</a>
            <a (click)="filterDataAlphabetsWise('M')" title="Quick jump to last initial M" class="jump-letter" tabindex="0">M</a>
            <a (click)="filterDataAlphabetsWise('N')" title="Quick jump to last initial N" class="jump-letter" tabindex="0">N</a>
            <a (click)="filterDataAlphabetsWise('O')" title="Quick jump to last initial O" class="jump-letter" tabindex="0">O</a>
            <a (click)="filterDataAlphabetsWise('P')" title="Quick jump to last initial P" class="jump-letter" tabindex="0">P</a>
            <a (click)="filterDataAlphabetsWise('Q')" title="Quick jump to last initial Q" class="jump-letter" tabindex="0">Q</a>
            <a (click)="filterDataAlphabetsWise('R')" title="Quick jump to last initial R" class="jump-letter" tabindex="0">R</a>
            <a (click)="filterDataAlphabetsWise('S')" title="Quick jump to last initial S" class="jump-letter" tabindex="0">S</a>
            <a (click)="filterDataAlphabetsWise('T')" title="Quick jump to last initial T" class="jump-letter" tabindex="0">T</a>
            <a (click)="filterDataAlphabetsWise('U')" title="Quick jump to last initial U" class="jump-letter" tabindex="0">U</a>
            <a (click)="filterDataAlphabetsWise('V')" title="Quick jump to last initial V" class="jump-letter" tabindex="0">V</a>
            <a (click)="filterDataAlphabetsWise('W')" title="Quick jump to last initial W" class="jump-letter" tabindex="0">W</a>
            <a (click)="filterDataAlphabetsWise('X')" title="Quick jump to last initial X" class="jump-letter" tabindex="0">X</a>
            <a (click)="filterDataAlphabetsWise('Y')" title="Quick jump to last initial Y" class="jump-letter" tabindex="0">Y</a>
            <a (click)="filterDataAlphabetsWise('Z')" title="Quick jump to last initial Z" class="jump-letter" tabindex="0">Z</a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="search-container">
          <input name="" placeholder="Search advertiser" type="text" [(ngModel)]="searchText" (input)="onEnterGetAllPartySearchWise($event.target.value,$event)">
          <img class="setPointer" src="{{websiteRoot}}/{{imgurl}}/search-icon.png" alt="" (click)="onClickGetAllPartySearchWise(searchText)">
        </div>
      </div>
    </div>

    <hr>
    <div class="advertiserCards">

      <div *ngIf="isShowDefaultTable == false">

        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-6" *ngFor="let item of this.organizationWiseCards | paginate: { itemsPerPage: 9, currentPage: bigCurrentPage, totalItems: bigTotalItems}">
            <div class="advertiserCardsItem">
              <h4>{{item.OrganizationName}}</h4>
              <div class="keyContact">
                <strong>Billing contact ID</strong><a style="padding-left:5px;" href="javascript:" id="anc{{item.contactName}}{{item.OrganizationId}}" (click)="showBillToContactName(item);">{{item.contactName }}</a>
              </div>
              <div class="orderCost">
                <a style="cursor: pointer" (click)="redirectToOrderTabByAdvertiser(item);">{{item.NoOfOrders}} Orders</a>
                <span>
                  <strong>Gross </strong>${{item.GrossCost | number: '.2'}}</span>
                <span>
                  <strong>Net </strong>${{item.NetCost | number : '.2'}}</span>
              </div>
              <button type="button" class="blueBtn" id="btnCreateNewOrder" (click)="createNewOrder(item)">Create order</button>
            </div>
          </div>
        </div>

        <div style="text-align:right;">
          <pagination-controls class="my-pagination" (pageChange)="pageChanged($event)"></pagination-controls>
        </div>

      </div>

      <div *ngIf="isShowDefaultTable == true">
        <div class="setTextCenter noRecordFound">
          <span> No record is found </span>
        </div>
      </div>

    </div>



  </div>
</div>