li { 
    border-radius: 50%;
    margin: 0 5px;
    width: 38px;
    height: 38px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border: 0;
    line-height: 26px;
    color: #fff !important;
    outline: 0;
    padding: 6px 0;
}
.current {
  border: 0;
  color: #fff !important;
  background: none;
  background-color: #0096c7;
  -webkit-box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19);
  box-shadow: 0px 5px 9px 0px rgba(0, 0, 0, 0.19)
}

.noRecordFound {
    color: #7f8fa4;
    font-size: 13px;
    font-weight: 600;
    white-space: nowrap;
  }
  
  .setPointer {
    cursor: pointer;
  }
  
  .displayNone {
    display: none;
  }